<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 程序版本号   -->
    <add key="version" value="20110422" />
    
    <!-- 资源路径前缀 -->
    <add key="resources_prefix" value="./" />

    <!-- 允许选择地址 -->
    <add key="enable_domain_selector" value="true" />
    
    <!-- 允许协议调试 -->
    <add key="enable_protocol_helper" value="true" />
    
    <!-- 允许调过战斗 -->
    <add key="enable_war_ignore_button" value="true" />
    
    <!-- 项目助手是否是开发模式 -->
    <add key="develop_mode" value="true" />

    <!-- 服务器 -->
    <add key="server_domain"   value="192.168.1.120" />
    <!-- 国服 -->
    <add key="server_port"     value="8889" />
    <!-- 台服
    <add key="server_port"     value="8000" /> -->

    <!-- 数据库 -->
    <add key="mysql_hostname" value="192.168.1.120" />
    <add key="mysql_username" value="root" />
    <add key="mysql_password" value="ybybyb" />
    <!-- 国服 -->
    <add key="mysql_database" value="gamedb_alpha" />
    <!-- 台服
    <add key="mysql_database" value="gamedb_alpha_tw" /> -->
    <add key="mysql_port"     value="3306" />
  </appSettings>
</configuration>