<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>
    <link href="<?php echo $base ?>/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo $base ?>/static/css/flat-ui.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script type="text/javascript" src="<?php echo $base ?>/static/js/html5shiv.min.js"></script>
    <script type="text/javascript" src="<?php echo $base ?>/static/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>