<form method="post" action="?in=active" name="form"  onSubmit="setSubmit('Submit')">
<table class="table">
  <tr>
    <th colspan="12">剥粽子</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="35">编号</td>
	<td width="35">删除</td>
    <td width="50">类型</td>
    <td width="50">获得的上限</td>
    <td width="50">名称</td>
    <td width="50">境界点</td>
    <td width="50">铜钱</td>
    <td width="50">声望</td>
    <td width="50">阅历</td>
    <td width="50">物品</td>
    <td width="50">物品数量</td>
    <td>&nbsp;</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[id]}<input name="id_old[]" type="hidden" value="{$rs[id]}" /></td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[id]}" title="选择删除"/></td>
   <td><input name="type[]" type="text" value="{$rs[type]}"  size="20"/></td>
   <td><input name="max[]" type="text" value="{$rs[max]}"  size="10"/></td>
   <td><input name="name[]" type="text" value="{$rs[name]}"  size="20"/></td>
   <td><input name="state_point[]" type="text" value="{$rs[state_point]}"  size="10"/></td>
   <td><input name="coin[]" type="text" value="{$rs[coin]}"  size="10"/></td>
   <td><input name="fame[]" type="text" value="{$rs[fame]}"  size="10"/></td>
   <td><input name="skill[]" type="text" value="{$rs[skill]}"  size="10"/></td>
    <td>
   <select name="item_id[]" >
   <option value="0">选择物品</option>
   <!--{loop $item_list $irs}-->
   <option value="{$irs[id]}" {if $irs[id] == $rs[item_id]}selected="selected"{/if}>{$irs[sign]}-{$irs[name]}</option>
   <!--{/loop}--> 
  </select>
  </td>
	 <td><input name="item_count[]" type="text" value="{$rs[item_count]}"  size="10"/></td>
    <td>&nbsp;</td>
    </tr>
  <!--{/loop}-->

   <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="12" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}--> 

  <!--{else}-->
  <tr>
	<td colspan="12" align="center">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center" >
	<td colspan="2">新增记录→</td>
   <td><input name="type_n" type="text" value=""  size="20"/></td>
      <td><input name="max_n" type="text" value=""  size="10"/></td>
      <td><input name="name_n" type="text" value=""  size="20"/></td>
      <td><input name="state_point_n" type="text" value=""  size="10"/></td>
      <td><input name="coin_n" type="text" value=""  size="10"/></td>
      <td><input name="fame_n" type="text" value=""  size="10"/></td>
      <td><input name="skill_n" type="text" value=""  size="10"/></td>
       <td>
      <select name="item_id_n" >
      <option value="0">选择物品</option>
      <!--{loop $item_list $irs}-->
      <option value="{$irs[id]}">{$irs[sign]}-{$irs[name]}</option>
      <!--{/loop}--> 
     </select>
     </td>
     <td><input name="item_count_n" type="text" value=""  size="10"/></td>
    <td>&nbsp;</td>
  </tr>  
  <tr>
    <td colspan="12" align="center">
	<input type="hidden" name="action" value="SetBoZongZi" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr>  
</table>
</form>