<form method="post" action="?in=other" name="form"  onSubmit="setSubmit('Submit')">
<table class="table">
  <tr>
    <th colspan="6">通知信息列表</th>
  </tr>
  <tr class="title_3">
    <td colspan="6">
	  <a href="?in=other&action=DelayNotifyMessageTemplate" class="{if !$type} title_menu_on {else} title_menu {/if}">感叹号</a>
	  <a href="?in=other&action=DelayNotifyMessageTemplate&type=1" class="{if $type == 1} title_menu_on {else} title_menu {/if}">互动</a>
	  <a href="?in=other&action=DelayNotifyMessageTemplate&type=2" class="{if $type == 2} title_menu_on {else} title_menu {/if}">PK</a>
	  <a href="?in=other&action=DelayNotifyMessageTemplate&type=3" class="{if $type == 3} title_menu_on {else} title_menu {/if}">礼物</a>
	  
	</td>
  </tr>  	
  <tr align="center" class="title_2">
    <td width="35">ID</td>
	<td width="35">删除</td>
    <td width="120">消息类型标识</td>
    <td width="300">延迟通知信息</td>
    <td width="100">类型</td>
	<td>&nbsp;</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[id]}<input name="id[]" type="hidden" value="{$rs[id]}"/></td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[id]}" title="选择删"/></td>
    <td><input name="message_sign[]" type="text" value="{$rs[message_sign]}"  size="20"/></td>
    <td><input name="template_message[]" type="text" value="{$rs[template_message]}"  size="40"/></td>
	<td>
	<select name="type[]" >
	 <option class="select">类型</option>
	 <option value="0"  {if $rs[type] == 0}selected="selected"{/if}>感叹号</option>
	 <option value="1"  {if $rs[type] == 1}selected="selected"{/if}>互动</option>
	 <option value="2"  {if $rs[type] == 2}selected="selected"{/if}>PK</option>
	 <option value="3"  {if $rs[type] == 3}selected="selected"{/if}>礼物</option>
	</select>	
	
	</td>
	<td>&nbsp;</td>	
    </tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="6" align="center">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center" >
	<td colspan="2">新增记录→</td>
    <td><input name="message_sign_n" type="text" value=""  size="20"/></td>
    <td><input name="template_message_n" type="text" value=""  size="40"/></td>
	<td>
	<select name="type_n" >
	 <option class="select">类型</option>
	 <option value="0"  {if $type == 0}selected="selected"{/if}>感叹号</option>
	 <option value="1"  {if $type == 1}selected="selected"{/if}>互动</option>
	 <option value="2"  {if $type == 2}selected="selected"{/if}>PK</option>
	 <option value="3"  {if $type == 3}selected="selected"{/if}>礼物</option>
	</select>	
	
	</td>
	<td>&nbsp;</td>	
    </tr> 
  <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="6" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->	   
  <tr>
    <td colspan="6" align="center">
	<input type="hidden" name="action" value="SetDelayNotifyMessageTemplate" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr>  
</table>
</form>