<form method="post" action="?in=dragonball" name="form"  onSubmit="setSubmit('Submit')">
<table class="table">
  <tr>
    <th colspan="{$fnum}">玩家龙珠等级效果描述</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="35">&nbsp;</td>
	<td width="35">删除</td>
  <!--{loop $fields $frs}-->
  <td>{$frs}</td>
  <!--{/loop}-->
    <td>&nbsp;</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	 
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[dragonball_id]}<input type="hidden" name="id[]" value="{$rs[dragonball_id]}"></td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[dragonball_id]}" /></td>
  <!--{loop $fields $fk $frs}-->
    <!--{if $fk == 'dragonball_id'}-->
      <td><select name="dragonball_id[]" >
       <option class="select" value="0">选择</option>
       <!--{loop $dragonball_list $mrs}-->
       <option value="{$mrs[id]}"  {if $mrs[id] == $rs[dragonball_id]}selected="selected"{/if}>{$mrs[name]}</option>
       <!--{/loop}-->  
      </select></td>
    <!--{else}-->
    <td><textarea name="{$fk}[]" cols="20" rows="2" ondblclick="textareasize(this)" class="" style="">{$rs[$fk]}</textarea></td>
    <!--{/if}-->   
  <!--{/loop}-->
    <td>&nbsp;</td>
    </tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="{$fnum}" align="center">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center" >
	<td colspan="2">新增记录→</td>
     <!--{loop $fields $fk $frs}-->
     
     <!--{if $fk == 'dragonball_id'}-->
       <td><select name="dragonball_id_n" >
       <option class="select" value="0">选择</option>
       <!--{loop $dragonball_list $mrs}-->
       <option value="{$mrs[id]}">{$mrs[name]}</option>
       <!--{/loop}-->  
      </select></td>
     <!--{else}-->
     <td><textarea name="{$fk}_n" cols="20" rows="2" ondblclick="textareasize(this)" class="" style=""></textarea></td>
     <!--{/if}-->   
    <!--{/loop}-->
    <td>&nbsp;</td>
    </tr>
   <td>&nbsp;</td>
  </tr>  
  <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="{$fnum}" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->	   
  <tr>
    <td colspan="{$fnum}" align="center">
	<input type="hidden" name="action" value="SetDragonballLevelDescription" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr>  
</table>
</form>