<form method="post" action="?in=fate" name="form"  onSubmit="setSubmit('Submit')">
<table class="table">
  <tr>
    <th colspan="8">命格品质信息列表</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="35">ID</td>
	<td width="35">删除</td>
    <td width="150">名称</td>
    <td width="150">标识</td>
	<td width="100">出售价格</td>
    <td width="120">经验值</td>
    <td width="50">等级</td>
    <td>&nbsp;</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[id]}</td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[id]}" title="选择删除{$rs[name]}"/><input name="id[]" type="hidden" value="{$rs[id]}"/></td>
    <td><input name="name[]" type="text" value="{$rs[name]}"  size="20"/></td>
    <td><input name="sign[]" type="text" value="{$rs[sign]}"  size="20"/></td>
    <td><input name="sale_price[]" type="text" value="{$rs[sale_price]}"  size="15"/></td>
    <td><input name="experience[]" type="text" value="{$rs[experience]}"  size="15"/></td>
    <td><a href="javascript:void(0)" onclick="pmwin('open','t_call.php?action=CallFateQualityLevel&id={$rs[id]}&name={$rs[name_url]}')" class="list_menu">等级</a></td>
    <td>&nbsp;</td>
    </tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="8" align="center">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center" >
	<td colspan="2">新增记录→</td>
    <td><input name="name_n" type="text" value=""  size="20"/></td>
    <td><input name="sign_n" type="text" value=""  size="20"/></td>
    <td><input name="sale_price_n" type="text" value=""  size="15"/></td>
    <td><input name="experience_n" type="text" value=""  size="15"/></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    </tr> 
  <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="8" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->	   
  <tr>
    <td colspan="8" align="center">
	<input type="hidden" name="action" value="SetFateQuality" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr>  
</table>
</form>