<!--{if $msg}-->{template msg}<!--{/if}-->
<form method="post" action="?in=fate" name="form"  onSubmit="setSubmit('Submit')" target="gopost">
<table class="table">
  <tr>
    <th colspan="8"><span class="bluetext">{$name}</span> 的等级</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="35" >Level</td>
    <td width="35">删除</td>
    <td width="100">等级</td>
    <td width="100">需求经验值</td>
    <td></td>
  </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[level]}<input name="id[]" type="hidden" value="{$rs[level]}"/></td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[level]},{$rs[fate_quality_id]}" title="选择删除"/></td>
    <td><strong>{$rs[level]}</strong>级</td>
    <td><input name="request_experience[]" type="text" value="{$rs[request_experience]}"  size="10"/></td>
    <td>&nbsp;</td>
  </tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="9" align="center" height="100">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center">
	<td colspan="2">新增记录→</td>
<td><input name="level_n" type="text" value=""  size="10"/> 级</td>
    <td><input name="request_experience_n" type="text" value=""  size="10"/></td>
    <td>&nbsp;</td>
  </tr>  
  <tr>
    <td colspan="9" align="center">
	<input name="fate_quality_id" type="hidden" value="{$id}"/>
	<input type="hidden" name="action" value="SetFateQualityLevel" />
	<input type="hidden" name="winid" value="{$winid}" />
	<input name="url" type="text" value="{echo $_SERVER['PHP_SELF']."?".$_SERVER['QUERY_STRING']}" style="display:none;"/>
	<input type="submit" name="Submit" id="Submit" value="执行操作" onClick="javascript: return confirm('你确定执行操作？');"  class="button"/></td>
  </tr>	
</table>
</form>