<form method="post" action="?in=main" name="form"  onSubmit="setSubmit('Submit')">
<table class="table">
  <tr>
    <th colspan="13">喜从天降奖励</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="35">ID</td>
	  <td width="35">删除</td>
    <td width="150">鱼旗ID</td>
    <td width="100">鱼旗等级</td>
    <td width="100">状态</td>
    <td width="100">阅历</td>
    <td width="100">声望</td>
    <td width="100">境界点</td>
    <td width="100">仙令</td>
    <td width="100">元神珠</td>
    <td width="100">灵液</td>
    <td width="100">铜钱</td>
    <td>&nbsp;</td>
    </tr>
    <!--{if $list_array}-->
    <!--{loop $list_array $rs}-->   
    <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
    <td>{$rs[id]}<input name="id_old[]" type="hidden" value="{$rs[id]}"/></td>
    <td><input type="checkbox" name="id_del[]" value="{$rs[id]}" title="选择删除"/></td>
      <td><input name="flag_id[]" type="text" value="{$rs[flag_id]}" size="10" /></td>
      <td><input name="flag_level[]" type="text" value="{$rs[flag_level]}" size="10" /></td>
      <td>
        <select name="blow_state[]">
          <option value="0"<!--{if $rs[blow_state] == 0}--> selected<!--{/if}-->>未吹龙鱼</option>
          <option value="1" <!--{if $rs[blow_state] == 1}--> selected<!--{/if}-->>吹龙鱼失败</option>
        </select>
      </td>
      <td><input name="skill[]" type="text" value="{$rs[skill]}" size="10" /></td>
      <td><input name="fame[]" type="text" value="{$rs[fame]}" size="10" /></td>
      <td><input name="state_point[]" type="text" value="{$rs[state_point]}" size="10" /></td>
      <td><input name="xian_ling[]" type="text" value="{$rs[xian_ling]}" size="10" /></td>
      <td><input name="pearl[]" type="text" value="{$rs[pearl]}" size="10" /></td>
      <td><input name="ling_ye[]" type="text" value="{$rs[ling_ye]}" size="10" /></td>
      <td><input name="coins[]" type="text" value="{$rs[coins]}" size="10" /></td>
      <td>&nbsp;</td>
      </tr>
    <!--{/loop}-->
    <!--{else}-->
    <tr>
    <td colspan="13" align="center">找不到相关信息</td>
    </tr>  
    <!--{/if}--> 
    <tr class="td2" align="center" >
  <td colspan="2">新增记录→</td>
  <td><input name="flag_id_n" type="text" value="" size="10" /></td>
      <td><input name="flag_level_n" type="text" value="" size="10" /></td>
      <td>
        <select name="blow_state_n">
          <option value="0">未吹龙鱼</option>
          <option value="1">吹龙鱼失败</option>
        </select>
      </td>
      <td><input name="skill_n" type="text" value="" size="10" /></td>
      <td><input name="fame_n" type="text" value="" size="10" /></td>
      <td><input name="state_point_n" type="text" value="" size="10" /></td>
      <td><input name="xian_ling_n" type="text" value="" size="10" /></td>
      <td><input name="pearl_n" type="text" value="" size="10" /></td>
      <td><input name="ling_ye_n" type="text" value="" size="10" /></td>
      <td><input name="coins_n" type="text" value="" size="10" /></td>
    <td>&nbsp;</td>
  </tr>     
  <tr>
    <td colspan="13" align="center">
  <input type="hidden" name="action" value="SetFishAward" />
  <input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr>  
  <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="13" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->  
</table>
</form>