<form method="post" action="?in=furnace" name="form"  onSubmit="setSubmit('Submit')">
<table class="table">
  <tr>
    <th colspan="13">百炼壶合成概率</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="35">ID</td>
	<td width="35">删除</td>
    <td width="150">物品</td>
    <td width="100">获得物品概率</td>
    <td width="100">获得灵石概率</td>
    <td width="100">获得碎片概率</td>
    <td>&nbsp;</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[item_id]}<input name="item_id_old[]" type="hidden" value="{$rs[item_id]}"/></td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[item_id]}" title="选择删除"/></td>
    <td><select name="item_id[]" >
	 <option class="select" value="0">选择物品</option>
	 <!--{loop $item_list $irs}-->
	 <option value="{$irs[id]}"  {if $irs[id] == $rs[item_id]}selected="selected"{/if}>{$irs[name]}</option>
	 <!--{/loop}-->	 
	</select></td>
    <td><input name="item_prob[]" type="text" value="{$rs[item_prob]}" size="10" /></td>
    <td><input name="stone_prob[]" type="text" value="{$rs[stone_prob]}" size="10" /></td>
    <td><input name="scrap_prob[]" type="text" value="{$rs[scrap_prob]}" size="10" /></td>
    <td>&nbsp;</td>
    </tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="13" align="center">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center" >
	<td colspan="2">新增记录→</td>
    <td><select name="item_id_n" >
	 <option class="select" value="0">选择物品</option>
	 <!--{loop $item_list $irs}-->
	 <option value="{$irs[id]}">{$irs[name]}</option>
	 <!--{/loop}-->	 
	</select></td>
    <td><input name="item_prob_n" type="text" value="" size="10" /></td>
    <td><input name="stone_prob_n" type="text" value="" size="10" /></td>
    <td><input name="scrap_prob_n" type="text" value="" size="10" /></td>
	<td>&nbsp;</td>
  </tr> 
  <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="13" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->	   
  <tr>
    <td colspan="13" align="center">
	<input type="hidden" name="action" value="SetFurnaceMakeItemProb" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr>  
</table>
</form>