<form method="post" action="?in=other" name="form"  onSubmit="setSubmit('Submit')">
<table class="table">
  <tr>
    <th colspan="5">神兽鼓舞信息列表</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="35">ID</td>
	<td width="35">删除</td>
    <td width="300">鼓舞信息</td>
	<td>&nbsp;</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[id]}<input name="id[]" type="hidden" value="{$rs[id]}"/></td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[id]}" title="选择删"/></td>
    <td><input name="inspire_message[]" type="text" value="{$rs[inspire_message]}"  size="40"/></td>
	<td>&nbsp;</td>	
    </tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="5" align="center">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center" >
	<td colspan="2">新增记录→</td>
    <td><input name="inspire_message_n" type="text" value=""  size="40"/></td>
	<td>&nbsp;</td>	
    </tr> 
  <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="5" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->	   
  <tr>
    <td colspan="5" align="center">
	<input type="hidden" name="action" value="SetHorseRacesInspireMessage" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr>  
</table>
</form>