<form method="post" action="?in=item" name="form"  onSubmit="setSubmit('Submit')">
<table class="table">
  <tr>
    <th colspan="8">背包格子</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="35">ID</td>
	<td width="35">删除</td>
	<td width="100">ID</td>
    <td width="150">名称</td>
    <td width="150" title="增加格子所需要元宝">所需元宝</td>
    <td width="150">解锁权值</td>
    <!--td width="150" title="角色装备位置，可装备物品类别，id为201-300时有效">装备位置</td-->
    <td>&nbsp;</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[id]}<input name="id_old[]" type="hidden" value="{$rs[id]}"/></td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[id]}" title="选择删除"/></td>
	<td><input name="id[]" type="text" value="{$rs[id]}"  size="10"/></td>
    <td><input name="name[]" type="text" value="{$rs[name]}"  size="20"/></td>
    <td><input name="ingot[]" type="text" value="{$rs[ingot]}"  size="20"/></td>
    <td><input name="unlock_level[]" type="text" value="{$rs[unlock_level]}"  size="20"/></td>
    <!--td><input name="equip_item_type[]" type="text" value="{$rs[equip_item_type]}"  size="20"/></td-->
    <td>&nbsp;</td>
    </tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="8" align="center">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center" >
	<td colspan="2">新增记录→</td>
    <td><input name="id_n" type="text" value=""  size="10"/></td>
    <td ><input name="name_n" type="text" value=""  size="20"/></td>
    <td ><input name="ingot_n" type="text" value=""  size="20"/></td>
    <td ><input name="unlock_level_n" type="text" value=""  size="20"/></td>
    <!--td ><input name="equip_item_type_n" type="text" value=""  size="20"/></td-->
    <td>&nbsp;</td>
  </tr>  
  <tr>
    <td colspan="8" align="center">
	<input type="hidden" name="action" value="SetItemPackGrid" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr>  
</table>
</form>