<table class="table">
  <tr>
    <th colspan="7">物品强化价格表</th>
  </tr>
  <tr class="title_3">
    <td colspan="7">
	<!--{if $item_type_list}-->
	  <!--{loop $item_type_list $itrs}-->
	  <a href="?in=item&action=ItemUpgradePrice&type_id={$itrs[id]}" class="{if $type_id == $itrs[id]} title_menu_on {else} title_menu {/if}">{$itrs[name]}</a>
	  <!--{/loop}-->
	<!--{/if}-->
	</td>
  </tr>  
<form method="post" action="?in=item" name="form"  onSubmit="setSubmit('Submit')">
  <tr align="center" class="title_2">
    <td width="35" >ID</td>
    <td width="35">删除</td>
    <td width="100">等级</td>
    <td width="100">装备类别</td>
    <td width="100">装备品质</td>
    <td width="100">需要价格</td>
    <td>&nbsp;</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[upgrade_level]}</td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[upgrade_level]},{$rs[item_type_id]},{$rs[item_quality_id]}" title="选择删除"/></td>
    <td>{$rs[upgrade_level]}<input name="upgrade_level[]" type="hidden" value="{$rs[upgrade_level]}"/></td>
    <td>{$rs[item_type_name]}<input name="item_type_id[]" type="hidden" value="{$rs[item_type_id]}"/></td>
    <td>{$rs[item_quality_name]}<input name="item_quality_id[]" type="hidden" value="{$rs[item_quality_id]}"/></td>
    <td><input name="upgrade_price[]" type="text" value="{$rs[upgrade_price]}"  size="15"/></td>
    <td>&nbsp;</td>
    </tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="7" align="center" height="100">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center">
	<td colspan="2">新增记录→</td>
    <td><input name="upgrade_level_n" type="text" value=""  size="10"/></td>
    <td>
	<select name="item_type_id_n" >
	 <option class="select">装备类别</option>
	 <!--{loop $item_type_list $trs}-->
	 <option value="{$trs[id]}" {if $trs[id] == $type_id}selected="selected"{/if}>{$trs[name]}</option>
	 <!--{/loop}-->	
	</select>	
	</td>
    <td>
	<select name="item_quality_id_n" >
	 <option class="select">装备品质</option>
	 <!--{loop $item_quality_list $qrs}-->
	 <option value="{$qrs[quality]}" >{$qrs[name]}</option>
	 <!--{/loop}-->	
	</select>	
	</td>
    <td><input name="upgrade_price_n" type="text" value=""  size="15"/></td>
    <td>&nbsp;</td>
  </tr>
  <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="7" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->	    
  <tr>
    <td colspan="7" align="center">
	<input type="hidden" name="action" value="SetItemUpgradePrice" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick="javascript: return confirm('你确定执行操作？');"  class="button"/></td>
  </tr>	
</form>
</table>