<form method="post" action="?in=item" name="form"  onSubmit="setSubmit('Submit')">
<table class="table">
  <tr>
    <th colspan="7">物品类型列表</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="35">ID</td>
	<td width="35">删除</td>
    <td width="100">ID</td>
    <td width="150">名称</td>
	<td width="150">标识</td>
    <td width="150">最大叠加量</td>
    <td>&nbsp;</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[id]}<input name="id_old[]" type="hidden" value="{$rs[id]}" /></td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[id]}" title="选择删除{$rs[name]}"/></td>
    <td><input name="id[]" type="text" value="{$rs[id]}"  size="10"/></td>
    <td><input name="name[]" type="text" value="{$rs[name]}"  size="20"/></td>
	 <td><input name="sign[]" type="text" value="{$rs[sign]}"  size="20"/></td>
	<td><input name="max_repeat_num[]" type="text" value="{$rs[max_repeat_num]}"  size="20"/></td>
    <td>&nbsp;</td>
    </tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="7" align="center">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center" >
	<td colspan="2">新增记录→</td>
    <td><input name="id_n" type="text" value=""  size="10"/></td>
    <td><input name="name_n" type="text" value=""  size="20"/></td>
	<td><input name="sign_n" type="text" value=""  size="20"/></td>
    <td><input name="max_repeat_num_n" type="text" value=""  size="20"/></td>
    <td>&nbsp;</td>
  </tr>  
  <tr>
    <td colspan="7" align="center">
	<input type="hidden" name="action" value="SetItemType" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr>  
</table>
</form>