<table class="table">
  <tr>
    <th colspan="6">藏经阁绝招对应关系</th>
  </tr> 
<form method="post" action="?in=library" name="form"  onSubmit="setSubmit('Submit')">   
  <tr align="center" class="title_2">
    <td width="35">ID</td>
	<td width="35">删除</td>
    <td width="200">绝招</td>
	<td width="200">下一绝招</td>
	<td >&nbsp;</td>
	</tr>
  
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[role_stunt_id]}<input name="role_stunt_id[]" type="hidden" value="{$rs[role_stunt_id]}"/></td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[role_stunt_id]}" title="选择删除"/></td>
    <td>{$rs[role_stunt_name]}</td>
	<td>
	<select name="next_role_stunt_id[]" >
	 <option class="select" value="0">选择</option>
	 <!--{loop $role_stunt_list $rrs}-->
	 <option value="{$rrs[id]}"  {if $rrs[id] == $rs[next_role_stunt_id]}selected="selected"{/if}>{$rrs[name]}</option>
	 <!--{/loop}-->	 
	</select>	</td>
	<td>&nbsp;</td>
	</tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="6" align="center" height="100">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center" >
	<td colspan="2">新增记录→</td>
	<td>
	<select name="role_stunt_id_n" >
	 <option class="select" value="0">选择</option>
	 <!--{loop $role_stunt_list $rrs}-->
	 <option value="{$rrs[id]}">{$rrs[name]}</option>
	 <!--{/loop}-->	 
	</select>	</td>
	<td>
	<select name="next_role_stunt_id_n" >
	 <option class="select" value="0">选择</option>
	 <!--{loop $role_stunt_list $rrs}-->
	 <option value="{$rrs[id]}">{$rrs[name]}</option>
	 <!--{/loop}-->	 
	</select>	</td>
	<td>&nbsp;</td>
	</tr> 
  <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="6" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->	
  <tr>
    <td colspan="6" align="center">
	<input type="hidden" name="action" value="SetLibraryStuntRelation" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr> 
</form>    
</table>
