<table class="table">
  <tr>
    <th colspan="6">结婚亲密度描述表</th>
  </tr> 
<form method="post" action="?in=marry" name="form"  onSubmit="setSubmit('Submit')">   
  <tr align="center" class="title_2">
    <td width="35">ID</td>
	<td width="35">删除</td>
    <td width="100">亲密度上限</td>
	<td width="100">类型描述</td>
	<td >&nbsp;</td>
	</tr>
  
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[id]}<input name="id[]" type="hidden" value="{$rs[id]}"/></td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[id]}" title="选择删除"/></td>
    <td><input name="favor_value[]" type="text" value="{$rs[favor_value]}" size="15"/></td>
	<td><input name="description[]" type="text" value="{$rs[description]}" size="15"/></td>
	<td>&nbsp;</td>
	</tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="6" align="center" height="100">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center" >
	<td colspan="2">新增记录→</td>
	<td><input name="favor_value_n" type="text" value=""   size="15"/></td>
    <td><input name="description_n" type="text" value=""   size="15"/></td>
	<td>&nbsp;</td>
	</tr> 
  <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="6" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->	
  <tr>
    <td colspan="6" align="center">
	<input type="hidden" name="action" value="SetMarryDescription" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr> 
</form>    
</table>
