<!--{if $msg}-->{template msg}<!--{/if}-->
<form method="post" action="?in=mission" name="form"  onSubmit="setSubmit('Submit')" target="gopost">
<table class="table">
  <tr>
    <th colspan="6"><span class="bluetext">{$name}</span> 剧情的战败提示</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="35" >ID</td>
    <td width="35">删除</td>
    <td width="100">提示名称</td>
    <td>&nbsp;</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[mission_failed_tips_type_id]}</td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[mission_id]},{$rs[mission_failed_tips_type_id]}" title="选择删除"/></td>
    <td><strong>{$rs[tips_name]}</strong></td>
    <td>&nbsp;</td>
    </tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="7" align="center" height="100">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center">
	<td colspan="2">新增记录→</td>
    <td>
	<select name="mission_failed_tips_type_id_n" >
	 <option class="select" value="0">提示名称</option>
	 <!--{loop $mission_failed_tips_type_list $trs}-->
	 <option value="{$trs[id]}">{$trs[tips_name]}</option>
	 <!--{/loop}-->	
	</select>	
	</td>
    <td>&nbsp;</td>
    </tr>  
  <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="4" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}--> 	
  <tr>
    <td colspan="7" align="center">
	<input name="mission_id_n" type="hidden" value="{$id}"/>
	<input type="hidden" name="action" value="SetMissionFailedTips" />
	<input type="hidden" name="winid" value="{$winid}" />
	<input name="url" type="text" value="{echo $_SERVER['PHP_SELF']."?".$_SERVER['QUERY_STRING']}" style="display:none;"/>
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick="javascript: return confirm('你确定执行操作？');"  class="button"/></td>
  </tr>	
 
</table>
</form>