<form method="post" action="?in=mission" name="form"  onSubmit="setSubmit('Submit')">
<table class="table">
  <tr>
    <th colspan="6">副本场景视频</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="35">ID</td>
	<td width="35">删除</td>
    <td width="150">视频名称</td>
    <td width="100">权值</td>
    <td width="300">视屏文件名</td>
    <td>&nbsp;</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[id]}<input name="id[]" type="hidden" value="{$rs[id]}"/></td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[id]}" title="选择删除{$rs[name]}"/></td>
    <td><input name="name[]" type="text" value="{$rs[name]}"  size="20"/></td>
    <td><input name="lock[]" type="text" value="{$rs[lock]}"  size="10"/></td>
    <td><input name="file_name[]" type="text" value="{$rs[file_name]}"  size="30"/></td>
    <td>&nbsp;</td>
    </tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="6" align="center">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center" >
	<td colspan="2">新增记录→</td>
    <td><input name="name_n" type="text" value=""  size="20"/></td>
    <td><input name="lock_n" type="text" value=""  size="10"/></td>
    <td><input name="file_name_n" type="text" value=""  size="30"/></td>
    <td>&nbsp;</td>
  </tr>
  <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="6" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->	      
  <tr>
    <td colspan="6" align="center">
	<input type="hidden" name="action" value="SetMissionVideo" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr>  
</table>
</form>