<!--{if $msg}-->{template msg}<!--{/if}-->
<form method="post" action="?in=mission" name="form"  onSubmit="setSubmit('Submit4')" target="gopost">
<table class="table">
  <tr>
    <th colspan="8"><span class="bluetext">{$name}</span> 的掉落物品</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="35" >ID</td>
    <td width="35">删除</td>
    <td width="150">物品</td>
    <td width="100">数量</td>
    <td width="100">掉落概率%</td>
    <td>&nbsp;</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[mission_monster_id]}<input name="mission_monster_id[]" type="hidden" value="{$rs[mission_monster_id]}"/></td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[mission_monster_id]},{$rs[quest_id]}" title="选择删除"/></td>
	<td>
	<select name="item_id[]" >
	 <option class="select">选择物品</option>
	 <!--{loop $item_list $irs}-->
	 <option value="{$irs[id]}" {if $irs[id] == $rs[item_id]}selected="selected"{/if}>{$irs[name]}</option>
	 <!--{/loop}-->	
	</select>
	</td>
    <td><input name="number[]" type="text" value="{$rs[number]}"  size="5"/></td>
    <td><input name="probability[]" type="text" value="{$rs[probability]}"  size="5"/></td>
    <td>&nbsp;</td>
    </tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="9" align="center" height="100">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center">
	<td colspan="2">新增记录→</td>
    <td>
	<select name="item_id_n" >
	 <option class="select">选择物品</option>
	 <!--{loop $item_list $irs}-->
	 <option value="{$irs[id]}" >{$irs[name]}</option>
	 <!--{/loop}-->	
	</select>
	</td>
    <td><input name="number_n" type="text" value=""  size="5"/></td>	
    <td><input name="probability_n" type="text" value=""  size="5"/></td>	
    <td>&nbsp;</td>
    </tr>  
  <tr>
    <td colspan="9" align="center">
	<input name="mission_monster_id_n" type="hidden" value="{$id}"/>
	<input type="hidden" name="action" value="SetMissionMonsterItem" />
	<input type="hidden" name="winid" value="{$winid}" />
	<input name="url" type="text" value="{echo $_SERVER['PHP_SELF']."?".$_SERVER['QUERY_STRING']}" style="display:none;"/>
	<input type="submit" id="Submit4" name="Submit4" value="执行操作" onClick="javascript: return confirm('你确定执行操作？');"  class="button"/></td>
  </tr>	
</table>
</form>