<form method="post" action="?in=mars" name="form"  onSubmit="setSubmit('Submit')">
<table class="table">
  <tr>
    <th colspan="5">猴子数据</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="35">&nbsp;</td>
	<td width="35">删除</td>
    <td width="80">等级</td>
    <td width="150">猴子</td>
	<td>&nbsp;</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[level]}<input name="level[]" type="hidden" value="{$rs[level]}"/></td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[level]}" title="选择删除"/></td>
    <td><strong>{$rs[level]}</strong></td>
    <td>
	<select name="monkey_id[]" >
	 <option class="select">选择怪物</option>
	 <!--{loop $monster_list $mrs}-->
	 <option value="{$mrs[id]}" {if $mrs[id] == $rs[monkey_id]}selected="selected"{/if}>{$mrs[level]}级-{$mrs[name]}</option>
	 <!--{/loop}-->	
	</select>	
	</td>
	<td>&nbsp;</td>
    </tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="5" align="center">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center" >
	<td colspan="2">新增记录→</td>
    <td><input name="level_n" type="text" value=""  size="10"/></td>
	<td>
	<select name="monkey_id_n" >
	 <option class="select">选择怪物</option>
	 <!--{loop $monster_list $mrs}-->
	 <option value="{$mrs[id]}" >{$mrs[level]}级-{$mrs[name]}</option>
	 <!--{/loop}-->	
	</select>	
	</td>
	<td>&nbsp;</td>
    </tr> 
  <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="5" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->		   
  <tr>
    <td colspan="5" align="center">
	<input type="hidden" name="action" value="SetMonkeyData" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr>  
</table>
</form>