  <script language="javascript">
	  function fill_data (army_type, text_id,id) {
		ele = document.getElementById(text_id);
		
		  text_value = ele.value;
		  values = text_value.split('\t');
		  var l = 23;

		  if (values.length != l) {
			  alert('参数无效');
			  ele.focus();
			  return true;
		  }
		  
		  document.getElementById(army_type +  '_level_' + id).value        = values[0];
		  document.getElementById(army_type +  '_need_xian_ling_' + id).value        = values[1];
		  document.getElementById(army_type +  '_need_player_level_' + id).value       = values[2];
		  document.getElementById(army_type +  '_need_zhanshen_lv_' + id).value  = values[3];
		  document.getElementById(army_type +  '_need_jingang_lv_' + id).value  = values[4];
		  document.getElementById(army_type +  '_need_xianfa_lv_' + id).value  = values[5];
		  document.getElementById(army_type +  '_strength_' + id).value        = values[6];
		  document.getElementById(army_type +  '_agile_' + id).value        = values[7];
		  document.getElementById(army_type +  '_intellect_' + id).value        = values[8];
		  document.getElementById(army_type +  '_health_' + id).value        = values[9];
		  document.getElementById(army_type +  '_attack_' + id).value        = values[10];
		  document.getElementById(army_type +  '_defense_' + id).value        = values[11];
		  document.getElementById(army_type +  '_magic_attack_' + id).value        = values[12];
		  document.getElementById(army_type +  '_magic_defense_' + id).value        = values[13];
		  document.getElementById(army_type +  '_stunt_attack_' + id).value        = values[14];
		  document.getElementById(army_type +  '_stunt_defense_' + id).value        = values[15];
		  document.getElementById(army_type +  '_hit_' + id).value        = values[16];
		  document.getElementById(army_type +  '_block_' + id).value        = values[17];
		  document.getElementById(army_type +  '_dodge_' + id).value        = values[18];
		  document.getElementById(army_type +  '_critical_' + id).value        = values[19];
		  document.getElementById(army_type +  '_break_block_' + id).value        = values[20];
		  document.getElementById(army_type +  '_break_critical_' + id).value        = values[21];
		  document.getElementById(army_type +  '_kill_' + id).value        = values[22];
		  
		  
	  }

</script>
<table class="table">
  <tr>
    <th colspan="26">被动技能属性表</th>
  </tr>
<form method="post" action="?in=passivity" name="form"  onSubmit="setSubmit('Submit')">
  
  <tr align="center" class="title_2">
	<td width="35">删除</td>
    <td width="60" title="1-战神,2-金刚,3-仙法">类型</td>
    <td width="60">被动技能ID</td>
    <td width="110">主角被动等级</td>
    <td width="100">需要的仙令数量</td>
    <td width="80">需要的玩家等级</td>
	<td width="80">需要战神的等级</td>
    <td width="60">需要金刚的等级</td>
    <td width="60">需要仙法的等级</td>    
    <td width="60" title="累计获取">武力</td>
    <td width="60" title="累计获取">绝技</td>
    <td width="60" title="累计获取">法术</td>
    <td width="60" title="累计获取">生命</td>
    <td width="60" title="累计获取">普攻</td>
    <td width="60" title="累计获取">普防</td>
    <td width="60" title="累计获取">法攻</td>
    <td width="60" title="累计获取">法防</td>
    <td width="60" title="累计获取">绝攻</td>
    <td width="60" title="累计获取">绝防</td>
    <td width="60" title="累计获取">命中%</td>
    <td width="60" title="累计获取">格挡%</td>
    <td width="60" title="累计获取">闪避%</td>
    <td width="60" title="累计获取">暴击%</td>
    <td width="60" title="累计获取">破击%</td>
    <td width="60" title="累计获取">韧性%</td>
    <td width="60" title="累计获取">必杀%</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td><input type="checkbox" name="id_del[]" value="{$rs[type]},{$rs[level]}" title="选择删除"/></td>
    <td>
	<select name="type[]" >
	 <option class="select">选择</option> 
	 <option value="1"  {if $rs[type] == 1}selected="selected"{/if}>战神</option>
	 <option value="2"  {if $rs[type] == 2}selected="selected"{/if}>金刚</option>
	 <option value="3"  {if $rs[type] == 3}selected="selected"{/if}>仙法</option>
	</select>	</td>
	<td>
	<select name="role_stunt_id[]" >
	 <option class="select">选择</option>
	 <!--{loop $passivity_stunt_data_list $psdrs}-->
	 <option value="{$psdrs[id]}"  {if $psdrs[id] == $rs[role_stunt_id]}selected="selected"{/if}>{$psdrs[name]}</option>
	 <!--{/loop}-->	 
	</select>	</td>
    <td><input name="level[]" id="m_level_{$rs[type]}_{$rs[level]}" type="text" value="{$rs[level]}"  size="15" onChange="fill_data('m', this.id,'{$rs[type]}_{$rs[level]}');" onClick="this.select();"/></td>
    <td><input name="need_xian_ling[]" id="m_need_xian_ling_{$rs[type]}_{$rs[level]}" type="text" value="{$rs[need_xian_ling]}"  size="5" onChange="fill_data('m', this.id,'{$rs[type]}_{$rs[level]}');" onClick="this.select();"/></td>
    <td><input name="need_player_level[]" id="m_need_player_level_{$rs[type]}_{$rs[level]}" type="text" value="{$rs[need_player_level]}"  size="5" onChange="fill_data('m', this.id,'{$rs[type]}_{$rs[level]}');" onClick="this.select();"/></td>
    <td><input name="need_zhanshen_lv[]" id="m_need_zhanshen_lv_{$rs[type]}_{$rs[level]}" type="text" value="{$rs[need_zhanshen_lv]}"  size="5" onChange="fill_data('m', this.id,'{$rs[type]}_{$rs[level]}');" onClick="this.select();"/></td>
    <td><input name="need_jingang_lv[]" id="m_need_jingang_lv_{$rs[type]}_{$rs[level]}" type="text" value="{$rs[need_jingang_lv]}"  size="5" onChange="fill_data('m', this.id,'{$rs[type]}_{$rs[level]}');" onClick="this.select();"/></td>
    <td><input name="need_xianfa_lv[]" id="m_need_xianfa_lv_{$rs[type]}_{$rs[level]}" type="text" value="{$rs[need_xianfa_lv]}"  size="5" onChange="fill_data('m', this.id,'{$rs[type]}_{$rs[level]}');" onClick="this.select();"/></td>
    <td><input name="strength[]" id="m_strength_{$rs[type]}_{$rs[level]}" type="text" value="{$rs[strength]}"  size="5" onChange="fill_data('m', this.id,'{$rs[type]}_{$rs[level]}');" onClick="this.select();"/></td>
    <td><input name="agile[]" id="m_agile_{$rs[type]}_{$rs[level]}" type="text" value="{$rs[agile]}"  size="5" onChange="fill_data('m', this.id,'{$rs[type]}_{$rs[level]}');" onClick="this.select();"/></td>
    <td><input name="intellect[]" id="m_intellect_{$rs[type]}_{$rs[level]}" type="text" value="{$rs[intellect]}"  size="5" onChange="fill_data('m', this.id,'{$rs[type]}_{$rs[level]}');" onClick="this.select();"/></td>
    <td><input name="health[]" id="m_health_{$rs[type]}_{$rs[level]}" type="text" value="{$rs[health]}"  size="5" onChange="fill_data('m', this.id,'{$rs[type]}_{$rs[level]}');" onClick="this.select();"/></td>
    <td><input name="attack[]" id="m_attack_{$rs[type]}_{$rs[level]}" type="text" value="{$rs[attack]}"  size="5" onChange="fill_data('m', this.id,'{$rs[type]}_{$rs[level]}');" onClick="this.select();"/></td>
    <td><input name="defense[]" id="m_defense_{$rs[type]}_{$rs[level]}" type="text" value="{$rs[defense]}"  size="5" onChange="fill_data('m', this.id,'{$rs[type]}_{$rs[level]}');" onClick="this.select();"/></td>
    <td><input name="magic_attack[]" id="m_magic_attack_{$rs[type]}_{$rs[level]}" type="text" value="{$rs[magic_attack]}"  size="5" onChange="fill_data('m', this.id,'{$rs[type]}_{$rs[level]}');" onClick="this.select();"/></td>
    <td><input name="magic_defense[]" id="m_magic_defense_{$rs[type]}_{$rs[level]}" type="text" value="{$rs[magic_defense]}"  size="5" onChange="fill_data('m', this.id,'{$rs[type]}_{$rs[level]}');" onClick="this.select();"/></td>
    <td><input name="stunt_attack[]" id="m_stunt_attack_{$rs[type]}_{$rs[level]}" type="text" value="{$rs[stunt_attack]}"  size="5" onChange="fill_data('m', this.id,'{$rs[type]}_{$rs[level]}');" onClick="this.select();"/></td>
    <td><input name="stunt_defense[]" id="m_stunt_defense_{$rs[type]}_{$rs[level]}" type="text" value="{$rs[stunt_defense]}"  size="5" onChange="fill_data('m', this.id,'{$rs[type]}_{$rs[level]}');" onClick="this.select();"/></td>
    <td><input name="hit[]" id="m_hit_{$rs[type]}_{$rs[level]}" type="text" value="{$rs[hit]}"  size="5" onChange="fill_data('m', this.id,'{$rs[type]}_{$rs[level]}');" onClick="this.select();"/></td>
    <td><input name="block[]" id="m_block_{$rs[type]}_{$rs[level]}" type="text" value="{$rs[block]}"  size="5" onChange="fill_data('m', this.id,'{$rs[type]}_{$rs[level]}');" onClick="this.select();"/></td>
    <td><input name="dodge[]" id="m_dodge_{$rs[type]}_{$rs[level]}" type="text" value="{$rs[dodge]}"  size="5" onChange="fill_data('m', this.id,'{$rs[type]}_{$rs[level]}');" onClick="this.select();"/></td>
    <td><input name="critical[]" id="m_critical_{$rs[type]}_{$rs[level]}" type="text" value="{$rs[critical]}"  size="5" onChange="fill_data('m', this.id,'{$rs[type]}_{$rs[level]}');" onClick="this.select();"/></td>
    <td><input name="break_block[]" id="m_break_block_{$rs[type]}_{$rs[level]}" type="text" value="{$rs[break_block]}"  size="5" onChange="fill_data('m', this.id,'{$rs[type]}_{$rs[level]}');" onClick="this.select();"/></td>
    <td><input name="break_critical[]" id="m_break_critical_{$rs[type]}_{$rs[level]}" type="text" value="{$rs[break_critical]}"  size="5" onChange="fill_data('m', this.id,'{$rs[type]}_{$rs[level]}');" onClick="this.select();"/></td>
    <td><input name="kill[]" id="m_kill_{$rs[type]}_{$rs[level]}" type="text" value="{$rs[kill]}"  size="5" onChange="fill_data('m', this.id,'{$rs[type]}_{$rs[level]}');" onClick="this.select();"/></td>
    </tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="26" align="center" height="40">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center" >
	<td>新增记录→</td>
    <td>
	<select name="type_n" >
	 <option class="select">选择</option>
	 <option value="1">战神</option>
	 <option value="2">金刚</option>
	 <option value="3">仙法</option>
	</select>	</td>
	<td>
	<select name="role_stunt_id_n" >
	 <option class="select">选择</option>
	 <!--{loop $passivity_stunt_data_list $psdrs}-->
	 <option value="{$psdrs[id]}">{$psdrs[name]}</option>
	 <!--{/loop}-->	 
	</select>	</td>
    <td><input name="level_n" id="m_level_n" type="text" value=""  size="15" onChange="fill_data('m', this.id,'n');" onClick="this.select();"/></td>
    <td><input name="need_xian_ling_n" id="m_need_xian_ling_n" type="text" value=""  size="5" onChange="fill_data('m', this.id,'n');" onClick="this.select();"/></td>
    <td><input name="need_player_level_n" id="m_need_player_level_n" type="text" value=""  size="5" onChange="fill_data('m', this.id,'n');" onClick="this.select();"/></td>
    <td><input name="need_zhanshen_lv_n" id="m_need_zhanshen_lv_n" type="text" value=""  size="5" onChange="fill_data('m', this.id,'n');" onClick="this.select();"/></td>
    <td><input name="need_jingang_lv_n" id="m_need_jingang_lv_n" type="text" value=""  size="5" onChange="fill_data('m', this.id,'n');" onClick="this.select();"/></td>
    <td><input name="need_xianfa_lv_n" id="m_need_xianfa_lv_n" type="text" value=""  size="5" onChange="fill_data('m', this.id,'n');" onClick="this.select();"/></td>
    <td><input name="strength_n" id="m_strength_n" type="text" value=""  size="5" onChange="fill_data('m', this.id,'n');" onClick="this.select();"/></td>
    <td><input name="agile_n" id="m_agile_n" type="text" value=""  size="5" onChange="fill_data('m', this.id,'n');" onClick="this.select();"/></td>
    <td><input name="intellect_n" id="m_intellect_n" type="text" value=""  size="5" onChange="fill_data('m', this.id,'n');" onClick="this.select();"/></td>
    <td><input name="health_n" id="m_health_n" type="text" value=""  size="5" onChange="fill_data('m', this.id,'n');" onClick="this.select();"/></td>
    <td><input name="attack_n" id="m_attack_n" type="text" value=""  size="5" onChange="fill_data('m', this.id,'n');" onClick="this.select();"/></td>
    <td><input name="defense_n" id="m_defense_n" type="text" value=""  size="5" onChange="fill_data('m', this.id,'n');" onClick="this.select();"/></td>
    <td><input name="magic_attack_n" id="m_magic_attack_n" type="text" value=""  size="5" onChange="fill_data('m', this.id,'n');" onClick="this.select();"/></td>
    <td><input name="magic_defense_n" id="m_magic_defense_n" type="text" value=""  size="5" onChange="fill_data('m', this.id,'n');" onClick="this.select();"/></td>
    <td><input name="stunt_attack_n" id="m_stunt_attack_n" type="text" value=""  size="5" onChange="fill_data('m', this.id,'n');" onClick="this.select();"/></td>
    <td><input name="stunt_defense_n" id="m_stunt_defense_n" type="text" value=""  size="5" onChange="fill_data('m', this.id,'n');" onClick="this.select();"/></td>
    <td><input name="hit_n" id="m_hit_n" type="text" value=""  size="5" onChange="fill_data('m', this.id,'n');" onClick="this.select();"/></td>
    <td><input name="block_n" id="m_block_n" type="text" value=""  size="5" onChange="fill_data('m', this.id,'n');" onClick="this.select();"/></td>
    <td><input name="dodge_n" id="m_dodge_n" type="text" value=""  size="5" onChange="fill_data('m', this.id,'n');" onClick="this.select();"/></td>
    <td><input name="critical_n" id="m_critical_n" type="text" value=""  size="5" onChange="fill_data('m', this.id,'n');" onClick="this.select();"/></td>
    <td><input name="break_block_n" id="m_break_block_n" type="text" value=""  size="5" onChange="fill_data('m', this.id,'n');" onClick="this.select();"/></td>
    <td><input name="break_critical_n" id="m_break_critical_n" type="text" value=""  size="5" onChange="fill_data('m', this.id,'n');" onClick="this.select();"/></td>
    <td><input name="kill_n" id="m_kill_n" type="text" value=""  size="5" onChange="fill_data('m', this.id,'n');" onClick="this.select();"/></td>
   </tr>  
   <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="26" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->	    
  <tr>
    <td colspan="26" align="center">
	<input type="hidden" name="action" value="SetPassivityDataType" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr>
</form>
</table>