<form method="post" action="?in=passivity" name="form"  onSubmit="setSubmit('Submit')">
<table class="table">
  <tr>
    <th colspan="7">被动技能类型</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="35">ID</td>
	<td width="35">删除</td>
    <td width="150">名称</td>
    <td width="150">描述</td>
    <td width="150">标识</td>
    <td width="50">类型</td>
    <td>&nbsp;</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[id]}<input name="id_old[]" type="hidden" value="{$rs[id]}"/></td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[id]}" title="选择删除{$rs[name]}"/></td>
    <td><input name="name[]" type="text" value="{$rs[name]}"  size="20"/></td>
    <td><input name="description[]" type="text" value="{$rs[description]}"  size="20"/></td>
    <td><input name="sign[]" type="text" value="{$rs[sign]}"  size="20"/></td>
    <td>
	<select name="type[]" >
	 <option class="select">选择</option> 
	 <option value="1"  {if $rs[type] == 1}selected="selected"{/if}>战神</option>
	 <option value="2"  {if $rs[type] == 2}selected="selected"{/if}>金刚</option>
	 <option value="3"  {if $rs[type] == 3}selected="selected"{/if}>仙法</option>
	</select>	</td>
    <td>&nbsp;</td>
    </tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="7" align="center">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center" >
	<td colspan="2">新增记录→</td>
    <td><input name="name_n" type="text" value=""  size="20"/></td>
    <td><input name="description_n" type="text" value=""  size="20"/></td>
    <td><input name="sign_n" type="text" value=""  size="20"/></td>
    <td>
	<select name="type_n" >
	 <option class="select">选择</option>
	 <option value="1">战神</option>
	 <option value="2">金刚</option>
	 <option value="3">仙法</option>
	</select>	</td>
	<td>
    <td>&nbsp;</td>
  </tr>  
  <tr>
    <td colspan="7" align="center">
	<input type="hidden" name="action" value="SetPassivityType" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr>  
</table>
</form>