<form method="post" action="?in=mars" name="form"  onSubmit="setSubmit('Submit')">
<table class="table">
  <tr>
    <th colspan="6">桃树数据</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="35">&nbsp;</td>
	<td width="35">删除</td>
    <td width="80">桃树级别</td>
    <td width="120">经验</td>
    <td width="120">怪物团</td>
	<td>&nbsp;</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[peach_lv]}<input name="peach_lv[]" type="hidden" value="{$rs[peach_lv]}"/></td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[peach_lv]}" title="选择删除"/></td>
    <td><strong>{$rs[peach_lv]}</strong></td>
    <td><input name="exp[]" type="text" value="{$rs[exp]}"  size="10"/></td>
    <td><select name="monster_team_id[]" >
	 <option class="select">选择</option>
	 <!--{loop $monster_team_list $mtrs}-->
	 <option value="{$mtrs[id]}"  {if $mtrs[id] == $rs[monster_team_id]}selected="selected"{/if}>{$mtrs[level]}级-{$mtrs[monster_name]}</option>
	 <!--{/loop}-->	 
	</select></td>
	<td>&nbsp;</td>
    </tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="6" align="center">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center" >
	<td colspan="2">新增记录→</td>
    <td><input name="peach_lv_n" type="text" value=""  size="10"/></td>
    <td><input name="exp_n" type="text" value=""  size="10"/></td>
    <td><select name="monster_team_id_n" >
	 <option class="select">选择</option>
	 <!--{loop $monster_team_list $mtrs}-->
	 <option value="{$mtrs[id]}">{$mtrs[level]}级-{$mtrs[monster_name]}</option>
	 <!--{/loop}-->	 
	</select></td>
	<td>&nbsp;</td>
    </tr> 
  <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="6" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->		   
  <tr>
    <td colspan="5" align="center">
	<input type="hidden" name="action" value="SetPeachData" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr>  
</table>
</form>