<form method="post" action="?in=active" name="form"  onSubmit="setSubmit('Submit')">
<table class="table">
  <tr>
    <th colspan="10">七夕活动题目库</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="35" >题目ID</td>
    <td width="35">删除</td>
    <td>题目</td>
    <td>答案a</td>
    <td>答案b</td>
    <td>正确答案</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[id]}<input type="hidden" name="id[]" value="{$rs[id]}" /></td>
	  <td><input type="checkbox" name="id_del[]" value="{$rs[id]}" title="选择删除"/></td>
    <td><input name="question[]" type="text" value="{$rs[question]}"  size="30"/></td>
    <td><input name="answer_a[]" type="text" value="{$rs[answer_a]}"  size="4"/></td>
    <td><input name="answer_b[]" type="text" value="{$rs[answer_b]}"  size="4"/></td>
    <td><input name="answer_right[]" type="text" value="{$rs[answer_right]}"  size="4"/></td>
    </tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="10" align="center" height="100">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center">
	<td colspan="2">新增记录→</td>
       <td><input name="question_n" type="text" value=""  size="30"/></td>
    <td><input name="answer_a_n" type="text" value=""  size="4"/></td>
    <td><input name="answer_b_n" type="text" value=""  size="4"/></td>
    <td><input name="answer_right_n" type="text" value=""  size="4"/></td>
  </tr> 
  <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="10" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->      
  <tr>
    <td colspan="10" align="center">
<input type="hidden" name="action" value="SetQiXiQuizBase" />
  <input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr>	
</table>
</form>