<!--{if $msg}-->{template msg}<!--{/if}-->
<form method="post" action="?in=research" name="form"  onSubmit="setSubmit('Submit')" target="gopost">
<table class="table">
  <tr>
    <th colspan="17"><span class="bluetext">{$name}</span> 的等级信息</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="35" >LEVEL</td>
    <td width="35">删除</td>
    <td>等级</td>
    <td>所需阅历</td>
    <td>升级后的<!--{if $addition_type_id == 2}-->加成%<!--{else}-->值<!--{/if}--></td>
    <td>CD时间</td>
    <td>需求玩家等级</td>
	  <td>阵眼增加的速度</td>
    <td>生命值</td>
    <td>格挡</td>
    <td>攻击</td>
    <td>闪避</td>
    <td>绝技攻击</td>
    <td>命中</td>
    <td>法术攻击</td>
    <td>暴击</td>
  </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[level]}<input name="level[]" type="hidden" value="{$rs[level]}"/><input name="research_id[]" type="hidden" value="{$rs[research_id]}"/></td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[research_id]},{$rs[level]}" title="选择删除"/></td>
    <td><strong>{$rs[level]}</strong>级</td>
    <td><input name="skill[]" type="text" value="{$rs[skill]}"  size="10"/></td>
	<td><input name="research_value[]" type="text" value="{$rs[research_value]}" size="10"/><!--{if $addition_type_id == 2}-->%<!--{/if}--></td>
    <td><input name="cd_time[]" type="text" value="{$rs[cd_time]}" size="10"/></td>
    <td><input name="player_level[]" type="text" value="{$rs[player_level]}" size="5"/></td>
    <td><input name="add_speed[]" type="text" value="{$rs[add_speed]}" size="5"/></td>
    <td><input name="health[]" type="text" value="{$rs[health]}" size="5"/></td>
    <td><input name="block[]" type="text" value="{$rs[block]}" size="5"/></td>
    <td><input name="attack[]" type="text" value="{$rs[attack]}" size="5"/></td>
    <td><input name="dodge[]" type="text" value="{$rs[dodge]}" size="5"/></td>
    <td><input name="stunt_attack[]" type="text" value="{$rs[stunt_attack]}" size="5"/></td>
    <td><input name="hit[]" type="text" value="{$rs[hit]}" size="5"/></td>
    <td><input name="magic_attack[]" type="text" value="{$rs[magic_attack]}" size="5"/></td>
    <td><input name="critical[]" type="text" value="{$rs[critical]}" size="5"/></td>
  </tr>
  <!--{/loop}-->	  
  <!--{else}-->
  <tr>
	<td colspan="18" align="center" height="100">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center">
	<td colspan="2">新增记录→</td>
    <td><input name="level_n" type="text" value=""  size="10" id="research_level" onChange="fill_data(this);" onClick="this.select();"/></td>
    <td><input name="skill_n" type="text" value=""  size="10" id="research_skill" onChange="fill_data(this);" onClick="this.select();"/></td>
	<td><input name="research_value_n" type="text" value="" size="10" id="research_value" onChange="fill_data(this);" onClick="this.select();"/><!--{if $addition_type_id == 2}-->%<!--{/if}--></td>
    <td><input name="cd_time_n" type="text" value="" size="10" id="research_cd_time" onChange="fill_data(this);" onClick="this.select();"/></td>
    <td><input name="player_level_n" type="text" value="" size="5" id="research_player_level" onChange="fill_data(this);" onClick="this.select();"/></td>
    <td><input name="add_speed_n" type="text" value="" size="5" onChange="fill_data(this);"/></td>
    <td><input name="health_n" type="text" value="" size="5" onChange="fill_data(this);"/></td>
    <td><input name="block_n" type="text" value="" size="5" onChange="fill_data(this);"/></td>
    <td><input name="attack_n" type="text" value="" size="5" onChange="fill_data(this);"/></td>
    <td><input name="dodge_n" type="text" value="" size="5" onChange="fill_data(this);"/></td>
    <td><input name="stunt_attack_n" type="text" value="" size="5" onChange="fill_data(this);"/></td>
    <td><input name="hit_n" type="text" value="" size="5" onChange="fill_data(this);"/></td>
    <td><input name="magic_attack_n" type="text" value="" size="5" onChange="fill_data(this);"/></td>
    <td><input name="critical_n" type="text" value="" size="5" onChange="fill_data(this);"/></td>
  </tr> 
  <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="18" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->     
  <tr>
    <td colspan="18" align="center">
	<input name="research_id_n" type="hidden" value="{$id}"/>
	<input name="addition_type_id" type="hidden" value="{$addition_type_id}"/>
	<input type="hidden" name="action" value="SetResearchLevelData" />
	<input type="hidden" name="winid" value="{$winid}" />
	<input name="url" type="text" value="{echo $_SERVER['PHP_SELF']."?".$_SERVER['QUERY_STRING']}" style="display:none;"/>
	<input type="submit" name="Submit" id="Submit" value="执行操作" onClick="javascript: return confirm('你确定执行操作？');"  class="button"/></td>
  </tr>	
</table>
</form>