<form method="post" action="?in=other" name="form"  onSubmit="setSubmit('Submit')">
<table class="table">
  <tr>
    <th colspan="6">点数列表</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="35">&nbsp;</td>
	<td width="35">删除</td>
    <td width="80">点数</td>
    <td width="150">文字</td>
	<td width="150">昵称</td>
	<td>&nbsp;</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[number]}<input name="number[]" type="hidden" value="{$rs[number]}"/></td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[number]}" title="选择删除{$rs[text]}"/></td>
    <td><strong>{$rs[number]}</strong></td>
    <td><input name="text[]" type="text" value="{$rs[text]}"  size="20"/></td>
	<td><input name="picture[]" type="text" value="{$rs[picture]}"  size="20"/></td>	
	<td>&nbsp;</td>
    </tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="6" align="center">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center" >
	<td colspan="2">新增记录→</td>
    <td><input name="number_n" type="text" value=""  size="10"/></td>
	<td><input name="text_n" type="text" value=""  size="20"/></td>
	<td><input name="picture_n" type="text" value=""  size="20"/></td>
	<td>&nbsp;</td>
    </tr> 
  <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="6" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->		   
  <tr>
    <td colspan="6" align="center">
	<input type="hidden" name="action" value="SetRollCount" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr>  
</table>
</form>