<form method="post" action="?in=tower" name="form"  onSubmit="setSubmit('Submit')">
<table class="table">
  <tr>
    <th colspan="6">灵件所在物品的位置</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="50">ID</td>
	<td width="35">删除</td>
    <td width="150">名称</td>
    <td>&nbsp;</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[id]}<input type="hidden" name="id[]" value="{$rs[id]}"/></td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[id]}" title="选择删除{$rs[describe]}"/></td>
    <td><input name="describe[]" type="text" value="{$rs[describe]}"  size="20" /></td>
    <td>&nbsp;</td>
    </tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="6" align="center">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center" >
	<td colspan="2">新增记录→</td>
    <td><input name="describe_n" type="text" value=""  size="20"/></td>
    <td>&nbsp;</td>
  </tr> 
  <tr>
    <td colspan="6" align="center">
	<input type="hidden" name="action" value="SetSoulLocation" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr>  
</table>
</form>