<form method="post" action="?in=tower" name="form"  onSubmit="setSubmit('Submit')">
<table class="table">
  <tr>
    <th colspan="8">灵件类型</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="50">ID</td>
	<td width="35">删除</td>
    <td width="100">名称</td>
    <td width="100">属性类型</td>
    <td width="100">灵件位置</td>
    <td>&nbsp;</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[id]}<input type="hidden" name="id[]" value="{$rs[id]}"/></td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[id]}" title="选择删除{$rs[name]}"/></td>
    <td><input name="name[]" type="text" value="{$rs[name]}"  size="10" /></td>
    <td>
	<select name="soul_type_id[]" >
	 <option class="select">选择</option>
	 <!--{loop $soul_type_list $strs}-->
	 <option value="{$strs[id]}"  {if $strs[id] == $rs[soul_type_id]}selected="selected"{/if}>{$strs[name]}</option>
	 <!--{/loop}-->	 
	</select>	</td>
    <td>
	<select name="soul_location_id[]" >
	 <option class="select">选择</option>
	 <!--{loop $soul_location_list $slrs}-->
	 <option value="{$slrs[id]}"  {if $slrs[id] == $rs[soul_location_id]}selected="selected"{/if}>{$slrs[describe]}</option>
	 <!--{/loop}-->	 
	</select>	</td>
    <td>&nbsp;</td>
    </tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="8" align="center">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center" >
	<td colspan="2">新增记录→</td>
    <td><input name="name_n" type="text" value=""  size="10" /></td>
    <td>
	<select name="soul_type_id_n" >
	 <option class="select">选择</option>
	 <!--{loop $soul_type_list $strs}-->
	 <option value="{$strs[id]}" >{$strs[name]}</option>
	 <!--{/loop}-->	 
	</select>	</td>
    <td>
	<select name="soul_location_id_n" >
	 <option class="select">选择</option>
	 <!--{loop $soul_location_list $slrs}-->
	 <option value="{$slrs[id]}">{$slrs[describe]}</option>
	 <!--{/loop}-->	 
	</select>	</td>
    <td>&nbsp;</td>	
  </tr> 
  <tr>
    <td colspan="8" align="center">
	<input type="hidden" name="action" value="SetSoulAllType" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr>  
</table>
</form>