<form method="post" action="?in=item" name="form"  onSubmit="setSubmit('Submit')">
<table class="table">
  <tr>
    <th colspan="8">成长/活动礼包</th>
  </tr>
  <tr class="title_3">
    <td colspan="8">
	<!--{if $gift_list}-->
	  <!--{eval $i=1}-->
	  <!--{loop $gift_list $irs}-->
	  <a href="?in=item&action=SuperGift&gift_id={$irs[id]}" class="{if $gift_id == $irs[id]} title_menu_on {else} title_menu {/if}">{$irs[item_name]}({$irs[role_job_name]})</a>
	  <!--{if $i % 3 == 0}--><br /><!--{/if}-->
	  <!--{eval $i++}-->
	  <!--{/loop}-->
	<!--{/if}-->	</td>
  </tr>  	  
  <tr align="center" class="title_2">
    <td width="35">ID</td>
	<td width="35">删除</td>
	<td width="100">类型</td>
	<td width="200">奖励物品</td>
	<td width="100">数量</td>
	<td width="100">元宝</td>
	<td width="100">铜钱</td>
	<td>&nbsp;</td>
	</tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="" align="center" >
	<td>{$rs[id]}<input name="id[]" type="hidden" value="{$rs[id]}"/></td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[id]}" title="选择删除"/></td>
	<td><select name="type[]" >
	 <option value="1" {if $rs[type] == 1}selected="selected"{/if}>物品</option>
	 <option value="2" {if $rs[type] == 2}selected="selected"{/if}>元宝</option>
	 <option value="3" {if $rs[type] == 3}selected="selected"{/if}>铜钱</option>
	</select></td>
	<td>
	<select name="item_id[]" >
	 <option class="select">奖励物品</option>
	 <!--{loop $item_list $irs}-->
	 <option value="{$irs[id]}" {if $rs[item_id] == $irs[id]}selected="selected"{/if}>{$irs[name]}{if $irs[type_id] <=7}-{$irs[require_level]}级{/if}{if $irs[role_job_name]}({$irs[role_job_name]}){/if}</option>
	 <!--{/loop}-->	 
	</select>	
	
	</td>
    <td><input name="item_number[]" type="text" value="{$rs[item_number]}"  size="5"/></td>
    <td><input name="ingot[]" type="text" value="{$rs[ingot]}"  size="10"/></td>
    <td><input name="coins[]" type="text" value="{$rs[coins]}"  size="10"/></td>
    <td>&nbsp;</td>
    </tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="8" align="center">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center" >
	<td colspan="2"><input name="gift_id_n" type="hidden" value="{$gift_id}"/>新增记录→</td>
	<td>
	<select name="type_n" >
	 <option class="select">类型</option>
	 <option value="1" >物品</option>
	 <option value="2" >元宝</option>
	 <option value="3" >铜钱</option>
	</select>	</td>		
	<td>
	<select name="item_id_n" >
	 <option class="select">奖励物品</option>
	 <!--{loop $item_list $irs}-->
	 <option value="{$irs[id]}" >{$irs[name]}{if $irs[type_id] <=7}-{$irs[require_level]}级{/if}{if $irs[role_job_name]}({$irs[role_job_name]}){/if}</option>
	 <!--{/loop}-->	 
	</select>	</td>	
    <td><input name="item_number_n" type="text" value="0"  size="5"/></td>
    <td><input name="ingot_n" type="text" value="0"  size="10"/></td>
    <td><input name="coins_n" type="text" value="0"  size="10"/></td>
	
    <td>&nbsp;</td>
    </tr> 
  <tr>
    <td colspan="8" align="center">
	<input type="hidden" name="action" value="SetSuperGift" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");' class="button"/></td>
  </tr>  
</table>
</form>