<!--{if $msg}-->{template msg}<!--{/if}-->
<form method="post" action="?in=treasurehunt" name="form"  onSubmit="setSubmit('Submit')" target="gopost">
<table class="table">
  <tr>
    <th colspan="5">寻宝关卡奖励表</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="35">ID</td>
	<td width="35">删除</td>
    <td width="100">寻宝奖励ID</td>
    <td width="100">奖励概率</td>
    <td>&nbsp;</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[th_award_id]}<input name="th_award_id_old[]" type="hidden" value="{$rs[th_award_id]}" /></td>
	<td><input type="checkbox" name="th_award_id_del[]" value="{$rs[th_award_id]}" title="选择删除"/></td>
  <td>
    <select name="th_award_id[]">
      <option value="">选择寻宝奖励</option>
      <!--{loop $award_list $ars}-->
      <option value="{$ars[id]}" {if $ars[id]==$rs[th_award_id]}selected{/if}>{$ars[name]}</option>
      <!--{/loop}-->
    </select>
  </td>
	 <td><input name="award_prob[]" type="text" value="{$rs[award_prob]}"  size="20"/></td>
    <td>&nbsp;</td>
    </tr>
  <!--{/loop}-->

   <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="5" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}--> 

  <!--{else}-->
  <tr>
	<td colspan="5" align="center">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center" >
	<td colspan="2">新增记录→</td>
    <td><select name="th_award_id_n">
      <option value="">选择寻宝奖励</option>
      <!--{loop $award_list $ars}-->
      <option value="{$ars[id]}">{$ars[name]}</option>
      <!--{/loop}-->
    </select></td>
    
    <td><input name="award_prob_n" type="text" value=""  size="20"/></td>
    <td>&nbsp;</td>
  </tr>  
  <tr>
    <td colspan="5" align="center">
	<input type="hidden" name="action" value="SetTreasureHuntMissionAward" />
  <input type="hidden" name="th_mission_id" value="{$id}">
  <input type="hidden" name="winid" value="{$winid}" />
  <input type="text" name="url" value="{echo $_SERVER['PHP_SELF']."?".$_SERVER['QUERY_STRING']}" style="display:none"/>
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr>  
</table>
</form>