<form method="post" action="?in=treasurehunt" name="form"  onSubmit="setSubmit('Submit')">
<table class="table">
  <tr>
    <th colspan="7">寻宝经验等级表</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="35">等级</td>
	<td width="35">删除</td>
    <td width="100">等级</td>
    <td width="100">等级经验</td>
	<td width="100">奖励物品</td>
    <td width="100">物品数量</td>
    <td>&nbsp;</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[level]}<input name="id_old[]" type="hidden" value="{$rs[level]}" /></td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[level]}" title="选择删除"/></td>
    <td><input name="level[]" type="text" value="{$rs[level]}"  size="10"/></td>
    <td><input name="need_exp[]" type="text" value="{$rs[need_exp]}"  size="20"/></td>
   <td>
     <select name="item_id[]">
       <option value="">选择奖励物品</option>
       <!--{loop $item_list $irs}-->
       <option value="{$irs['id']}" {if $irs['id']==$rs['item_id']}selected{/if}>{$irs['name']}</option>
       <!--{/loop}-->
     </select>

   </td>
	<td><input name="item_amount[]" type="text" value="{$rs[item_amount]}"  size="20"/></td>
  <td>&nbsp;</td>
    </tr>
  <!--{/loop}-->

   <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="7" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}--> 
  
  <!--{else}-->
  <tr>
	<td colspan="7" align="center">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center" >
	<td colspan="2">新增记录→</td>
    <td><input name="level_n" type="text" value=""  size="10"/></td>
    <td><input name="need_exp_n" type="text" value=""  size="20"/></td>
    <td>
      <select name="item_id_n">
        <option value="">选择奖励物品</option>
        <!--{loop $item_list $irs}-->
        <option value="{$irs['id']}" {if $irs['id']==$rs['item_id']}selected{/if}>{$irs['name']}</option>
        <!--{/loop}-->
      </select>
    </td>
    <td><input name="item_amount_n" type="text" value=""  size="20"/></td>
    <td>&nbsp;</td>
  </tr>  
  <tr>
    <td colspan="7" align="center">
	<input type="hidden" name="action" value="SetTreasureHuntExpLevel" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr>  
</table>
</form>