<form method="post" action="?in=other" name="form"  onSubmit="setSubmit('Submit')">
<table class="table">
  <tr>
    <th colspan="5">vip等级要求</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="35">ID</td>
	<td width="35">删除</td>
    <td width="100">等级</td>
    <td width="150">需求金额</td>
    <td>&nbsp;</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[vip_level]}<input name="id[]" type="hidden" value="{$rs[vip_level]}" /></td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[vip_level]}" title="选择删除"/></td>
    <td><strong>{$rs[vip_level]}</strong>级</td>
    <td><input name="money[]" type="text" value="{$rs[money]}"  size="20"/></td>
	<td>&nbsp;</td>
    </tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="5" align="center">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center" >
	<td colspan="2">新增记录→</td>
    <td><input name="vip_level_n" type="text" value=""  size="10"/> 级</td>
    <td><input name="money_n" type="text" value=""  size="20"/></td>
    <td>&nbsp;</td>
  </tr> 
  <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="5" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->	    
  <tr>
    <td colspan="5" align="center">
	<input type="hidden" name="action" value="SetVipRequire" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr>  
</table>
</form>