<table class="menu_table">
  <tr>
	<td><a href="?in=data&action=DataData">{lang SJHZ}</a></td>
  </tr>    
  <tr>
	<td><a href="?in=data&action=DataPayData">{lang CZHZ}</a></td>
  </tr>    
  <!--{if !webAdmin('key_data_set','y')}-->
  <tr>
	<td><a href="?in=data&action=DataDay">{lang SJDB}</a></td>
  </tr>    
  <tr>
	<td><a href="?in=data&action=DataDayList">{lang SYQS}</a></td>
  </tr> 
  <tr>
	<td><a href="?in=data&action=DataHourList">{lang SDCZDB}</a></td>
  </tr>     
  <tr>
	<td><a href="?in=data&action=DataConsume">{lang XFTJ}</a></td>
  </tr>
  <tr>
	<td><a href="?in=data&action=DataPlayerOut">分级流失统计</a></td>
  </tr>   
   <tr>
	<td><a href="?in=data&action=DataVipLevel">{lang VIPDJTJ}</a></td>
  </tr>     
  <tr>
	<td><a href="?in=data&action=DataOnline">{lang ZXSJ}</a></td>
  </tr>  
  <tr>
	<td><a href="?in=data&action=DataCompany">{lang YYSZT}</a></td>
  </tr>  
  <tr>
	<td><a href="?in=data&action=DataMonthPay">{lang YCZBB}</a></td>
  </tr>    
  <!--{/if}-->  
	<tr>
	<td><a href="cron/userpaya.php" target="_blank">查询注收比</a></td>
  </tr>
	<tr>
	<td><a href="cron/ybcl.php" target="_blank">充值元宝/存量</a></td>
  </tr>    
</table>
