<form action="?in=password&action=SaveEditPwd" method="post" name="form" id="form" onSubmit="setSubmit('Submit')">
  <table class="table">
    <tr>
      <th colspan="2">{lang XGMM}</th>
    </tr>
    <tr class="title_2">
      <td width="100" align="right"><strong>{lang ADMINNAME}</strong></td>
      <td><strong>{$adminWebName}</strong></td>
    </tr>
    <tr>
      <td width="100" align="right"><strong>{lang ADMINPWDOLD}</strong></td>
      <td><input name="adminPassWordOld" type="password"  value="" size="40" maxlength="45" autocomplete="off"/></td>
   </tr>	
    <tr>
      <td width="100" align="right"><strong>{lang ADMINPWDNEW}</strong></td>
      <td><input name="adminPassWordNew" type="password"  value="" size="40" maxlength="45" autocomplete="off"/></td>
   </tr>
     
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="Submit" id="Submit" value=" {lang SUBMITOK} " class="button"/></td>
    </tr>
  </table>
</form >