<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>LOGIN</title>
<meta http-equiv="x-ua-compatible" content="ie=7" />
<link href="style/style.css" rel="stylesheet" type="text/css" />
</head>

<body >
<div>
<table class="logintable" width="300">
   <form name="form" method="post" action="?action=Login" >
  <tr>
    <th colspan="2" align="center"><strong>LOGIN</strong></th>
    </tr>
  <tr>
    <td align="right">ID：</td>
    <td><input type="text" name="Aname" value="" size="30"/></td>
  </tr>
  <tr>
    <td align="right">PWD：</td>
    <td><input type="password" name="ApassWord"  size="30"/></td>
  </tr>
  <tr>
    <td >&nbsp;</td>
    <td><input type="submit" name="Submit" value=" OK " class="button"/> <strong class="redtext">{lang LOGINMSG}</strong></td>
  </tr>
  </form>
</table>
</div>
</body>
</html>