<!--{if $msg}-->{template msg}<!--{/if}-->
<table class="table">
  <tr>
    <th colspan="5"><span class="yellowtext">{$player[username]} ({$player[nickname]})</span>  ＞ {lang QSZF}</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="35" >ID</td>
    <td width="100">{lang QISHU}</td>
    <td width="100">{lang LV}</td>
	<td width="100">{lang ZHENFA}</td>
	<td>&nbsp;</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[research_id]}</td>
	<td><strong>{$rs[research_name]}</strong></td>
    <td>{$rs[level]}</td>
	<td>{$rs[deploy_mode_name]}</td>
	<td>&nbsp;</td>
  </tr>
  <!--{/loop}-->
  <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="7" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->    
  <!--{else}-->
  <tr>
	<td colspan="6" align="center" height="100">{lang NULL}</td>
  </tr>  
  <!--{/if}--> 
</table>