<table class="table">
  <tr>
    <th colspan="6"><span class="yellowtext">{$player[username]} ({$player[nickname]})</span>  ＞ {lang WJYY}</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="35" >ID</td>
    <td width="100">{lang CAOYAO}</td>
    <td width="120">{lang SHSJ}</td>
	<td width="120">{lang SXSJ}</td>
	<td width="100">{lang ROLE}</td>
    <td >&nbsp;</td>
  </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[id]}</td>
    <td><!--{if $rs[herbs_name]}--><strong>{$rs[herbs_name]}</strong><!--{else}-->-<!--{/if}--></td>
    <td><!--{if $rs[harvest_time]}-->{$rs[harvest_time]}<!--{else}-->-<!--{/if}--></td>
	<td><!--{if $rs[ripe_time]}-->{$rs[ripe_time]}<!--{else}-->-<!--{/if}--></td>
	<td><!--{if $rs[role_name]}-->{$rs[role_name]}<!--{else}-->-<!--{/if}--></td>
    <td>&nbsp;</td>
  </tr>
  <!--{/loop}-->
  <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="6" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->	  
  <!--{else}-->
  <tr>
	<td colspan="6" align="center" height="100">{lang NULL}</td>
  </tr>  
  <!--{/if}--> 
</table>
