{template player_top}
<script language='JavaScript' type='text/JavaScript' src='include/js/calendar.js'></script>

<table class="table">
  <tr class="title_3">
    <td colspan="10">
	<form action="" method="get" name="form" onSubmit="setSubmit('Submit')">
	时间范围：<input name="stime" id="stime" type="text" onclick="showcalendar(event, this)"   value="{$stime}" size="10" readonly /> - 
	<input name="etime" id="etime" type="text" onclick="showcalendar(event, this)"   value="{$etime}" size="10" readonly /> 
	<select name="tt">
	  <option value="0" {if $tt == 0} selected="selected" {/if}>滚服</option>
	  <option value="1" {if $tt == 1} selected="selected" {/if}>渠道</option>		
	</select>
	<input type="submit" name="Submit" id="Submit" value=" 查 询 " class="button"/>
	本页数据不包含测试玩家，选择[滚服]则[时间范围]搜索的是玩家平台注册的时间，选择[渠道]则[时间范围]搜索的是玩家第一次进入游戏的时间
	<input name="in" type="hidden" value="player" />
	<input name="action" type="hidden" value="DataSource" />
	<input name="cid" type="hidden" value="{$cid}" />
	<input name="sid" type="hidden" value="{$sid}" />
	</form>	</td>
  </tr> 

  <tr align="center" class="title_2">
    <td width="120">渠道</td>
    <td width="120"><a href="?in=player&action=DataSource&cid={$cid}&sid={$sid}&order=player_num" title="按注册用户排序">注册用户</a></td>
	<td width="120">创建角色</td>
    <td width="120">角色创建率</td>
    <td width="100">10级/比例</td>
    <td width="100">20级/比例</td>
    <td width="100">40级/比例</td>
    <!--{if !serverAdmin('pay','y')}-->
	<td width="60">充值人数</td>
    <td width="100">充值总额($server[money_type])</td>
	<!--{/if}-->
    <td>&nbsp;</td>
  </tr>
  <tr align="center" class="purpletext trtitle">
	<td>全服</td>
    <td>{$player_num}</td>
	<td>{$player_role_num}</td>
    <td>{echo round($player_role_num/$player_num*100,2)}%</td>
    <td>{$player_role_num_10} <span class="graytext smalltext">({echo round($player_role_num_10/$player_role_num*100,2)}%)</span></td>
    <td>{$player_role_num_20} <span class="graytext smalltext">({echo round($player_role_num_20/$player_role_num*100,2)}%)</span></td>
    <td>{$player_role_num_40} <span class="graytext smalltext">({echo round($player_role_num_40/$player_role_num*100,2)}%)</span></td>
    <!--{if !serverAdmin('pay','y')}-->
	<td>{$player_role_pay}</td>
    <td><strong>{echo round($amount/$server[coins_rate],2)}</strong></td>
	<!--{/if}-->
    <td>&nbsp;</td>
  </tr>
  
  <!--{if $source_list}-->
  <!--{loop $source_list $rs}-->	  
  
  <tr align="center" onmouseover=this.className="td3" onmouseout=this.className="">
	<td><!--{if $rs[source]}-->{$rs[source]}<!--{else}-->[平台自身]<!--{/if}--></td>
    <td>{$rs[player_num]}</td>
	<td>{$rs[player_role_num]}</td>
    <td>{echo round($rs[player_role_num]/$rs[player_num]*100,2)}%</td>
    <td>{$rs[player_role_num_10]} <span class="graytext smalltext">({echo round($rs[player_role_num_10]/$rs[player_role_num]*100,2)}%)</span></td>
    <td>{$rs[player_role_num_20]} <span class="graytext smalltext">({echo round($rs[player_role_num_20]/$rs[player_role_num]*100,2)}%)</span></td>
    <td>{$rs[player_role_num_40]} <span class="graytext smalltext">({echo round($rs[player_role_num_40]/$rs[player_role_num]*100,2)}%)</span></td>
    <!--{if !serverAdmin('pay','y')}-->
	<td>{$rs[player_role_pay]}</td>
	<td class="orangetext"><strong>{echo round($rs[amount]/$server[coins_rate],2)}</strong></td>
	<!--{/if}-->
    <td>&nbsp;</td>
  </tr>
  <!--{/loop}-->
  <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="10" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->	
  <!--{/if}-->
</table>
