<table class="table">
  <tr>
    <th colspan="6"><span class="yellowtext">{$player[username]} ({$player[nickname]})</span>  ＞ <span class="yellowtext">{$role_name}</span>  ＞ {lang MG}</th>
  </tr>
  <tr align="center" class="title_2">
    <td width="35" >ID</td>
    <td width="100" >{lang MINGCHEN}</td>
    <td width="100" >{lang LV}</td>
    <td width="100" >{lang JY}</td>
	<td width="100" >{lang CDWZ}</td>
    <td>&nbsp;</td>
  </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[fate_id]}</td>
    <td><strong>{$rs[fate_name]}</strong> ({$rs[quality_name]})</td>
    <td>{$rs[fate_level]}</td>
    <td>{$rs[experience]}</td>
	<td>{$rs[position]}</td>
	<td>&nbsp;</td>
  </tr>
  <!--{/loop}-->
  <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="6" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->  
  <!--{else}-->
  <tr>
	<td colspan="6" align="center" height="100">{lang NULL}</td>
  </tr>  
  <!--{/if}--> 
</table>
