{template player_log_top}
<table class="table">
  <tr class="title_3">
    <td colspan="8">
	<form action="" method="get" name="form" id="form" onSubmit="setSubmit('Submit')">
	{lang WJCX}：<select name="usertype" id="usertype" >
	<option value="1" {if $usertype == 1} selected="selected" {/if}>{lang USERNAME}</option>
	<option value="2" {if $usertype == 2} selected="selected" {/if}>{lang USERNICK}</option>
	</select>
	<input name="username" type="text" value="{$username}" size="20" maxlength="20"  />
	{lang JSZ}：<select name="is_defeat">
	<option value="" class="select" >{lang ALL}</option>
	<option value="1" {if $is_defeat == 1} selected="selected" {/if}>YES</option>
	</select>
	
	{lang TIMERANGE}：<select name="date" id="date" >
	  <option value="" class="select">{lang XZTIME}</option>
	<!--{if $day_moth_list}-->
	  <!--{loop $day_moth_list $drs}-->
	  <option value="{$drs[year]}-{$drs[month]}-{$drs[day]}" {if $date == $drs[year].'-'.$drs[month].'-'.$drs[day]} selected="selected" {/if}>{$drs[year]}-{$drs[month]}-{$drs[day]}</option>
	  <!--{/loop}-->
	  <!--{else}-->
	  <option value="{$month}" >{$month}</option>
	<!--{/if}-->		
	</select>
	<input type="submit" name="Submit" id="Submit" value=" {lang SEARCH} " class="button"/>
	<input name="in" type="hidden" value="player" />
	<input name="action" type="hidden" value="Logs" />
	<input name="type" type="hidden" value="boss" />
	<input name="cid" type="hidden" value="{$cid}" />
	<input name="sid" type="hidden" value="{$sid}" />
	
	</form>	</td>
  </tr>   
  <tr class="title_2" align="center">
    <td width="35">ID</td>
    <td width="100">{lang DATE}</td>
	<td width="80" >{lang ORDER}</td>
    <td width="100" >{lang JSZ}</td>
    <td width="150" >BOSS</td>
    <td width="250" >{lang USER}</td>
	<td width="100">{lang USERID}</td>
	<td >&nbsp;</td>
    </tr>
  <!--{if $list_array}-->
  <!--{eval $i=0}-->
  <!--{loop $list_array $rs}-->	  
  <tr class="{if $i % 2!=0}td{else}td4{/if}"  align="center" >
	<td>{$rs[id]}</td>
	<td>{$rs[year]}-{$rs[month]}-{$rs[day]}</td>
	<td>{$rs[rank]}</td>
	<td><!--{if $rs[is_defeat]}-->YES<!--{else}-->-<!--{/if}--></td>
	<td>{$rs[town_name]}(Lv.{$rs[monster_level]})</td>
	<td align="left">
	<!--{if $rs[is_tester] == 1}--><span class="right graytext">{lang CSH}</span><!--{elseif $rs[is_tester] == 2}--><span class="right graytext">{lang GJCSH}</span><!--{elseif $rs[is_tester] == 3}--><span class="right bluetext">GM</span><!--{/if}--><strong><a href="?in=player&action=PlayerView&cid={$cid}&sid={$sid}&uid={$rs[player_id]}" target="_blank">{$rs[username]}</a></strong> ({$rs[nickname]})	</td>
	<td>{$rs[player_id]}</td>
	<td >&nbsp;</td>
  </tr>
  <!--{eval $i++}-->
  <!--{/loop}-->
  <!--{if $list_array_pages}-->
   <tr>
	<td colspan="8" class="page">{$list_array_pages}</td>
  </tr>  
	<!--{/if}-->
  <!--{else}-->
  <tr align="center">
    <td colspan="8">{lang NULL}</td>
  </tr>  
  <!--{/if}--> 
</table>