{template player_log_top}
<script language='JavaScript' type='text/JavaScript' src='include/js/calendar.js'></script>
<table class="table">
  <tr class="title_3">
    <td colspan="10">
	<form action="" method="get" name="form" id="form" onSubmit="setSubmit('Submit')">
	{lang WJCX}：<select name="usertype" id="usertype" >
	<option value="1" {if $usertype == 1} selected="selected" {/if}>{lang USERNAME}</option>
	<option value="2" {if $usertype == 2} selected="selected" {/if}>{lang USERNICK}</option>
	</select>
	<input name="username" type="text" value="{$username}" size="20" maxlength="20"  />
	<input type="submit" name="Submit" id="Submit" value=" {lang SEARCH} " class="button"/>
	<input name="in" type="hidden" value="player" />
	<input name="action" type="hidden" value="Logs" />
	<input name="type" type="hidden" value="farmland" />
	<input name="tidArr" id="tidArr" value="{$tidArr}" style="display:none;">
	<input name="cid" type="hidden" value="{$cid}" />
	<input name="sid" type="hidden" value="{$sid}" />
	</form>	</td>
  </tr>   
  <tr class="title_2" align="center">
    <td width="35">ID</td>
    <td >{lang WQCSSJ}</td>
    <td >{lang XYSJ}</td>
	<td >{lang CAOYAO}</td>
	<td >{lang YHDJY}</td>
	<td >{lang SJJSJY}</td>
	<td >{lang CZSJ}</td>
    <td >{lang ROLE}</td>
    <td >{lang USER}</td>
	<td >{lang USERID}</td>
  </tr>
  <!--{if $list_array}-->
  <!--{eval $i=0}-->
  <!--{loop $list_array $rs}-->	  
  <tr class="{if $i % 2!=0}td{else}td4{/if}"  align="center" >
	<td>{$rs[id]}</td>
	<td><!--{if $harvest_time}-->{echo date('Y-m-d H:i:s',$rs[harvest_time])}<!--{else}-->-<!--{/if}--></td>
	<td>{echo round($rs[ripe_time]/60)}{lang MINUTES}</td>
	<td>{$rs[herbs_name]}</td>
	<td>{$rs[exp]}</td>
	<td><strong>+{$rs[add_exp]}</strong></td>
	<td>{echo date('Y-m-d H:i:s',$rs[timestamp])}</td>
	<td>{$rs[role_name]}</td>
	<td align="left">
	<strong><a href="?in=player&action=PlayerView&cid={$cid}&sid={$sid}&uid={$rs[player_id]}" target="_blank">{$rs[username]}</a></strong> ({$rs[nickname]})	</td>
	<td>{$rs[player_id]}</td>
  </tr>
  <!--{eval $i++}-->
  <!--{/loop}-->
  <!--{if $list_array_pages}-->
   <tr>
	<td colspan="10" class="page">{$list_array_pages}</td>
  </tr>  
	<!--{/if}-->
  <!--{else}-->
  <tr align="center">
    <td colspan="10">{lang NULL}</td>
  </tr>  
  <!--{/if}--> 
</table>
