<table class="table">
  <tr>
    <th colspan="8"><span class="yellowtext">{$player[username]} ({$player[nickname]})</span>  ＞ {lang WJLJ}</th>
  </tr>  
  <tr align="center" class="title_2">
    <td width="35" >ID</td>
    <td>{lang LJ}</td>
    <td>{lang TYPE}</td>
    <td>{lang ATTRIBUTE}1</td>
    <td>{lang ATTRIBUTE}3</td>
    <td>{lang ATTRIBUTE}3</td>
    <td>{lang WEIZHI}</td>
	<td>{lang KQQX}</td>
	</tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[id]}</td>
	<td><strong>{$rs[soul_name]}</strong> ({$rs[quality_name]})</td>
    <td>{$rs[type_name]}</td>
	<td ><!--{if $rs[soul_attribute_id_location_1]}-->{$soula[$rs[soul_attribute_id_location_1]][name]}<span class="greentext smalltext"> +{$rs[soul_attribute_value_location_1]}{$soula[$rs[soul_attribute_id_location_1]][unit]}</span><!--{else}-->-<!--{/if}--></td>
	<td ><!--{if $rs[soul_attribute_id_location_2]}-->{$soula[$rs[soul_attribute_id_location_2]][name]}<span class="greentext smalltext"> +{$rs[soul_attribute_value_location_2]}{$soula[$rs[soul_attribute_id_location_2]][unit]}</span><!--{else}-->-<!--{/if}--></td>
	<td ><!--{if $rs[soul_attribute_id_location_3]}-->{$soula[$rs[soul_attribute_id_location_3]][name]}<span class="greentext smalltext"> +{$rs[soul_attribute_value_location_3]}{$soula[$rs[soul_attribute_id_location_3]][unit]}</span><!--{else}-->-<!--{/if}--></td>
    <td>{$rs[soul_pack_location]}</td>
	<td>{$rs[key]}</td>
  </tr>
  <!--{/loop}-->
   <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="8" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->	   
  <!--{else}-->
  <tr>
	<td colspan="8" align="center" height="100">{lang NULL}</td>
  </tr>  
  <!--{/if}--> 
</table>
