<table width="100%" class="table" style="margin-bottom:5px;">
  <tr>
    <th colspan="6">帐号错误登陆历史</th>
  </tr>
  <tr class="title_3">
    <td colspan="14">
	<form action="" method="get" name="forms" id="forms" onSubmit="setSubmit('Submits')">
	帐号：<input name="adminName" type="text" value="{$adminName}" size="20" />	
	IP：<input name="adminLoingIP" type="text" value="{$adminLoingIP}" size="20" />	
	<input name="in" type="hidden" value="admin" />
	<input name="action" type="hidden" value="AdminLoginErr" />
	<input type="submit" name="Submit" id="Submits" value=" 搜 索 " class="button"/>
	</form>		
	</td>
  </tr>
 <form method="post" action="?in=admin" name="form"  id="form"  onSubmit="setSubmit('Submit')">      
 <tr class="title_2" align="center">
    <td width="50"><input type="checkbox" name="allid"  onclick="CheckAll(this,'form','id_del[]');" /></td>
    <td width="150">登陆帐号</td>
    <td width="150">错误密码</td>
    <td width="150">登陆时间</td>
    <td width="150">登陆IP</td>
    <td >&nbsp;</td>
  </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
    <td><!--{if $adminWebName == 'admin'}--><input type="checkbox" name="id_del[]" value="{$rs[id]}" title="选择删除{$rs[id]}"/><!--{else}-->{$rs[id]}<!--{/if}--></td>
    <td><strong>{$rs[adminName]}</strong></td>
    <td>{$rs[adminPassWord]}</td>
    <td>{$rs[adminLoingTime]}</td>
    <td>{$rs[adminLoingIP]}</td>
    <td align="left" class="graytext">{echo convertip($rs[adminLoingIP])}</td>
  </tr>
  <!--{/loop}-->
  <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="6" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->	    
  
  <!--{else}-->
  <tr align="center">
    <td colspan="6">暂无相关信息</td>
  </tr>
  <!--{/if}-->
  <tr>
    <td colspan="9" align="center">
	<input type="hidden" name="action" value="DelAdminLoginErr" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr>  
</form>   
</table>
