<table class="table">
  <tr>
    <th colspan="11">运营商设置</th>
  </tr>
  <tr class="title_3">
    <td colspan="14">
	<form action="" method="get" name="form" onSubmit="setSubmit('Submits')">
	运营商名：	
	<input name="name" type="text" value="{$name}" size="20" /> 
	官网地址：	
	<input name="web" type="text" value="{$web}" size="30" /> 
	<select name="type">
	<option value="" class="select">类型</option>
	<option value="1" {if $type == 1} selected="selected" {/if}>1类</option>
	<option value="2" {if $type == 2} selected="selected" {/if}>2类</option>
	<option value="3" {if $type == 3} selected="selected" {/if}>3类</option>
	<option value="9" {if $type == 9} selected="selected" {/if}>手机</option>

	</select>	
	
	<input type="submit" name="Submits" id="Submits" value="搜索" class="button"/>
	<input name="in" type="hidden" value="server" />
	<input name="action" type="hidden" value="Company" />
	
	</form>	
	
	</td>
  </tr>  
<form method="post" action="?in=server" name="form"  onSubmit="setSubmit('Submit')">
  <tr align="center" class="title_2">
    <td width="50">编号CID</td>
	<td width="35">删除</td>
    <td width="80">排序</td>
    <td>运营商</td>
    <td>短名称</td>
    <td>域名</td>
	<td>游戏标题</td>
	<td>平台类型</td>
    <td>详细设置</td>
    <td>查看</td>
    </tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[cid]}<input name="id[]" type="hidden" value="{$rs[cid]}" /></td>
	<td><!--{if SXD_SYSTEM_COMPANY_DEL}--><input type="checkbox" name="id_del[]" value="{$rs[cid]}" title="选择删除{$rs[name]}"/><!--{else}-->-<!--{/if}--></td>
	<td><input name="corder[]" type="text" value="{$rs[corder]}"  size="10"  style="display:none"/>{$rs[corder]}</td>
    <td><input name="name[]" type="text" value="{$rs[name]}"  size="20" style="display:none"/>{$rs[name]}<br /><span class="graytext">{$rs[key]}</span></td>
    <td><input name="slug[]" type="text" value="{$rs[slug]}"  size="10" {if !SXD_SYSTEM_COMPANY_DEL}readonly{/if} style="display:none"/>{$rs[slug]}</td>
    <td><input name="web[]" type="text" value="{$rs[web]}"  size="20" style="display:none"/>{$rs[web]}</td>
	<td><input name="game_name[]" type="text" value="{$rs[game_name]}"  size="15" style="display:none"/>{$rs[game_name]}</td>
	<td>
	<!--{if $rs[type] ==1}-->1类<!--{/if}-->
	<!--{if $rs[type] ==2}-->2类<!--{/if}-->
	<!--{if $rs[type] ==3}-->3类<!--{/if}-->
	<!--{if $rs[type] ==9}-->手机<!--{/if}-->
	<select name="type[]" style="display:none">
	<option value="1" {if $rs[type] == 1} selected="selected" {/if}>1类</option>
	<option value="2" {if $rs[type] == 2} selected="selected" {/if}>2类</option>
	<option value="3" {if $rs[type] == 3} selected="selected" {/if}>3类</option>
	<option value="9" {if $rs[type] == 9} selected="selected" {/if}>手机</option>
	</select>
	</td>
	<td><a href="javascript:void(0)" onclick="pmwin('open','s_call.php?action=CallCompanySet&cid={$rs[cid]}')" class="title_menu">详细设置</a></td>
	<td><a href="?in=server&action=CompanyView&cid={$rs[cid]}" class="title_menu">查看</a></td>
	</tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="11" align="center">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center" >
	<td colspan="2">新增记录→</td>
    <td><input name="corder_n" type="text" value=""  size="10"/></td>
    <td><input name="name_n" type="text" value=""  size="20"/></td>
    <td><input name="slug_n" type="text" value=""  size="10"/></td>
    <td><input name="web_n" type="text" value=""  size="20"/></td>
	<td><input name="game_name_n" type="text" value=""  size="15"/></td>	
    <td>
	<select name="type_n">
	<option value="1">1类</option>
	<option value="2" selected="selected">2类</option>
	<option value="3">3类</option>
	</select>
	</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    </tr> 
  <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="11" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->	   
  <tr>
    <td colspan="11" >
	<input type="hidden" name="action" value="SetCompany" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/> <span class="greentext">删除运营商将一并删除下属的服务器</span></td>
  </tr>  
</form>
</table>
