<table class="table">
  <tr>
    <th colspan="5">战区设置</th>
  </tr>
    
<form method="post" action="?in=server" name="form"  onSubmit="setSubmit('Submit')">
  
  <tr align="center" class="title_2">
    <td width="50">ID</td>
	<td width="35">删除</td>
    <td width="200">标识</td>
	<td width="200">战区名称</td>
    <td>&nbsp;</td>
	</tr>
  <!--{if $list_array}-->
  <!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center" >
	<td>{$rs[id]}<input name="id[]" type="hidden" value="{$rs[id]}" /></td>
	<td><input type="checkbox" name="id_del[]" value="{$rs[id]}" title="选择删除{$rs[name]}"/></td>
    <td><input name="sign[]" type="text" value="{$rs[sign]}"  size="30" /></td>
    <td><input name="name[]" type="text" value="{$rs[name]}"  size="30" /></td>
	
    <td>&nbsp;</td>
  </tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="5" align="center">找不到相关信息</td>
  </tr>  
  <!--{/if}--> 
  <tr class="td2" align="center" >
	<td colspan="2">新增记录→</td>
    <td><input name="sign_n" type="text" value=""  size="30"/></td>
    <td><input name="name_n" type="text" value=""  size="30" /></td>
    <td>&nbsp;</td>	
  </tr>   <tr>
    <td colspan="5" align="center">
	<input type="hidden" name="action" value="SetWarZone" />
	<input type="submit" id="Submit" name="Submit" value="执行操作" onClick='javascript: return confirm("你确定执行操作？");'  class="button"/></td>
  </tr>  
</form>  
</table>
