<form action="?in=code" method="post" name="form" onSubmit="setSubmit('Submit')">
  <table class="table">
    <tr>
      <th colspan="2">添加兑换券</th>
    </tr>
    	
    <tr>
      <td width="100" align="right"><strong>服务器</strong></td>
      <td>
		<select name="cid" id="cid"  onChange="selectAjax('call.php?action=CallCompanyServers','sid','cid',1)">
		 <option class="select">运营平台</option>
		 <!--{loop $company_list $crs}-->
		 <option value="{$crs[cid]}">{$crs[name]}</option>
		 <!--{/loop}-->	 
		</select>
		</td>
    </tr>
   <tr>
      <td align="right"><strong>活动</strong></td>
      <td>
		<select name="bhz">
		 <option class="select">选择活动</option>
		 <!--{loop $table $trs}-->
		 <option value="{$trs[TABLE_NAME]}">{$trs[TABLE_COMMENT]}</option>
		 <!--{/loop}-->	 
		</select>	  
	  </td>
   </tr>
   <!--tr>
      <td align="right"><strong>兑换券前缀</strong></td>
      <td><input name="cqz" type="text" value="code" size="10" /> <span class="graytext">如：<strong class="bluetext">code</strong>_1111_2222_3333_4444</span></td>
   </tr-->
   <tr>
      <td align="right"><strong>生成数量</strong></td>
      <td><input name="num" type="text" value="0" size="10" maxlength="6"/> <span class="graytext">一次输入最高请勿超过100000，超过100000请提交后再追加</span></td>
   </tr>
    <tr>
      <td><input name="action" type="hidden" value="SaveCodePartyAdd"/></td>
      <td class="bluetext"><input type="submit" name="Submit" id="Submit" value=" 发 布 " class="button"/></td>
    </tr>
  </table>
</form >
