<form action="?in=code" method="post" name="form" onSubmit="setSubmit('Submit')">
  <table class="table">
    <tr>
      <th colspan="2">建活动兑换券表</th>
    </tr>
    	
   <tr>
      <td width="100" align="right"><strong>表后缀</strong></td>
      <td><input name="bhz" type="text" value="qq" size="10"/> <span class="graytext">默认表名规则，如：code_party_<strong class="bluetext">qq</strong></span></td>
   </tr>
   <tr>
      <td width="100" align="right"><strong>表描述</strong></td>
      <td><input name="info" type="text" value="" size="40"/> <span class="graytext">如：2012年周年活动记录</span></td>
   </tr>   
    <tr>
      <td><input name="action" type="hidden" value="SaveCodePartyTable"/></td>
      <td class="bluetext"><input type="submit" name="Submit" id="Submit" value=" 发 布 " class="button"/></td>
    </tr>
  </table>
</form >
