<form action="?in=setting" method="post" name="form" onSubmit="setSubmit('Submit')">
  <table class="table" style="margin-bottom:5px;">
    <tr>
      <th colspan="2">{lang SZCSH}</th>
    </tr>
    <tr>
      <td width="100" align="right"><strong>{lang SERVER}</strong></td>
      <td>
		<!--{if $adminWebType == 's'}-->
		<select name="cid" id="cid"  onChange="selectAjax('call.php?action=CallCompanyServers','sid','cid',1)">
		 <option class="select">{lang COMPANY}</option>
		 <!--{loop $company_list $crs}-->
		 <option value="{$crs[cid]}" {if $crs[cid] == $cid} selected="selected" {/if}>{$crs[name]}</option>
		 <!--{/loop}-->	 
		</select>	  
		<!--{else}-->
		<input name="cid" type="hidden" value="{$cid}" />
		<!--{/if}-->	

		<select name="sid" id = "sid">
		<option value="" class="select">{lang ALLSERVER}</option>
		<!--{if $servers_list}-->
		 <!--{loop $servers_list $srs}-->
		 <option value="{$srs[sid]}" {if $srs[sid] == $sid} selected="selected" {/if}>{$srs[name]}-{$srs[o_name]}</option>
		 <!--{/loop}-->	
		 <!--{/if}-->		
		</select>	  </td>
    </tr>
    <tr>
      <td align="right"><strong>{lang USER}</strong></td>
      <td>
		<select name="usertype">
		<option value="1">{lang USERNAME}</option>
		<option value="2">{lang USERNICK}</option>		
		</select>
		<input name="username" type="text" value="" size="30"/></td>
    </tr>
     <tr>
      <td align="right"><strong>{lang SETSTATE}</strong></td>
      <td>
	<select name="is_tester">
		<option value="1">{lang SETTEST}</option>
		<option value="4">{lang SETZDY}</option>
		<!--{if !webAdmin('key_data_set','y') || $adminWebType == 's'}-->
		<option value="2">{lang SETTESTHIGHT}</option>
		<option value="0">{lang DELTESTZDY}</option>
		<!--{/if}-->
	</select>	  
	</td>
   </tr>
           
    <tr>
      <td><input name="action" type="hidden" value="SetPlayerTest"/></td>
      <td><input type="submit" name="Submit" id="Submit" value=" {lang SUBMITOK} " class="button"/> <span class="bluetext">{lang SETTESTMSG}</span></td>
    </tr>
  </table>
</form >
  
