<table class="table">
  <tr>
    <th colspan="10">{lang SERVERLIST}</th>
  </tr>  
  <tr align="center" class="title_2">
    <td width="50">&nbsp;</td>
    <td>{lang SERVER}</td>
    <td width="100">{lang OPENDATE}</td>
    <td colspan="6">&nbsp;</td>
	
    </tr>  
<!--{if $list_array}-->
<!--{loop $list_array $rs}-->	  
  <tr onmouseover=this.className="td3" onmouseout=this.className="td" align="center">
    <td><!--{if $adminWebType == 's'}-->{$rs[sid]}<!--{else}-->><!--{/if}--></td>	
    <td align="left">
	<span class="right">{$rs[name2]}</span>
	<!--{if $rs[open]}-->
	<a href="?in=player&cid={$rs[cid]}&sid={$rs[sid]}"><strong style="font-size:14px;">{$rs[name]}-{$rs[o_name]}</strong></a> 
	<!--{else}-->
	<strong style="font-size:14px;">{$rs[name]}-{$rs[o_name]}</strong>
	<!--{/if}-->
	<!--{if $rs[combined_to]}--> <a href="?in=player&cid={$rs[cid]}&sid={$rs[combined_to]}" lass="bluetext"><span>({lang YHF})</span></a><!--{/if}--><!--{if !$rs[open]}--> <span class="redtext">({lang WPZ})</span><!--{/if}--><!--{if $rs[test] == 1}--> <span class="graytext">({lang CSF})</span><!--{/if}-->
	<br /><span class="graytext">{$rs[server]}</span>	</td>
    <td>{echo date('Y-m-d H:i',strtotime($rs[open_date]))}<br /><!--{if $rs[open_date] < date('Y-m-d H:i:s')}-->{echo round((strtotime(date('Y-m-d')) - strtotime(date('Y-m-d',strtotime($rs[open_date]))))/86400)+1}{lang DAYS}<!--{else}--><span class="graytext">{lang WKQ}</span><!--{/if}--></td>	
	<!--{if $rs[open]}-->
    <!--{if !serverAdmin('data','y')}--><td width="70"><a href="?in=player&action=Data&cid={$rs[cid]}&sid={$rs[sid]}">{lang SJBB}</a></td><!--{/if}-->
    <!--{if !serverAdmin('source','y')}--><td width="70"><a href="?in=player&action=DataSource&cid={$rs[cid]}&sid={$rs[sid]}">{lang QDTJ}</a></td><!--{/if}-->
	<!--{else}-->
	<td colspan="6">&nbsp;</td>
	<!--{/if}-->
  </tr>
  <!--{/loop}-->
  <!--{else}-->
  <tr>
	<td colspan="10" align="center" height="100">{lang NULL}</td>
  </tr>  
  <!--{/if}--> 
  <!--{if $list_array_pages}--> 
  <tr>
    <td colspan="10" class="page">{$list_array_pages}</td>
  </tr> 
  <!--{/if}-->	     
</table>
